$font-main: 'Roboto', Times New Roman, Helvetica, sans-serif;

body {
	display: flex;
	flex-flow: row;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	
	min-width: 1040px;
}

aside {
	section, section p, section h1 {
	  -webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */
	  user-select: none;          /* Likely future */  
	}
}

#content-new-issue {
	display: none;
}

#content-userinfo {
	min-width: 680px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($seconds) {
	-webkit-transition: all $seconds ease-out;
	-moz-transition: all $seconds ease-out;
	-ms-transition: all $seconds ease-out;
	-o-transition: all $seconds ease-out;
}

button {
	@include transition(0.15s);
	@include border-radius(5px);
	
	display: inline-block;

    background-color: #2070f7;
    border: 2px solid #4489ff;
    color: #ffffff;
    cursor: pointer;
    margin: 1em;
    outline: none;
    padding: 0.85em;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
	
	i.fa {
		font-size: 1.2em;
	}
	
	span {
		padding: 0em 0em 0em 0.4em;
		font-weight: 500;
		font-family: $font-main;
		line-height: 1em;
		height: 0.85em;
		display: inline-block;
		font-size: 1em;
		position: relative;
		top: -0.1em;
	}
}

button:hover {
	background-color: #4489ff;
}

button.altpath {
    background-color: #ffffff;
    border: 2px solid #4489ff;
    color: #0046bd;
}

button.altpath:hover {
	background-color: #eef4ff;
}

i.fa {
    width: 1.2em;
    text-align: center;
}

aside {
	i.fa {
		position: relative;
		left: 8px;
		top: -8px;
	}
}

.visible{
	display: block !important;
}

.invisible{
	display: none !important;
}

label.r-option{
    display: inline-block;
    position: relative;
    top: 1px;
    font-weight: 300;
    left: 2px;
    font-size: 1.5em;
	cursor: pointer;
}

label.disabled{
	opacity:0.5;
	cursor: default;
}

#aside-options, .standup-options {
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	
	a {
		color: #2070f7;
		text-decoration: none;
		padding: 0.53em 0.75em;
		background: #f3f6f8;
		border-radius: 14px;
		font-weight: 500;
		font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
		line-height: 1em;
		font-size: 1em;
		text-transform: uppercase;
		
		span {
			color: #154596;
			border-radius: 3px;
			background: #e3e8ea;
			padding: 0 3px;
			margin-left: 3px;
			padding-right: 4px;
		}
	}
	
	a.t-active {
		color: white;
		background: #2070f7;
		padding-left: 10px;
		
		span {
			background: #5796ff;
			border-radius: 3px;
			padding: 0 3px;
			margin-left: 3px;
			padding-right: 5px;
			position: relative;
			top: 0px;
			color: #ffffff;
			display: inline-block;
		}
	}
	
	a.t-active:hover {
		background: #2070f7;
		
		span {
			background: #5796ff;
			color: #ffffff;
		}
	}
	
	a:hover {
		background: #e3e8ea;
		
		span {
			background: #ccd2d6;
			color: black;
		}
	}
}

.standup-options {
	padding-top: 0.8em;
    padding-bottom: 0.8em;
	font-size: 0.8em;
	
	a.t-active {
		padding-left:0.75em;
	}
}