$font-form: 'Roboto', Times New Roman, Helvetica, sans-serif;

#login-page {

	font-family: $font-form;
	background: #fafbfc;

	.login-as {
		background: linear-gradient(to right, #2070f7, #4489ff);
		color: white;
		margin-bottom:5px;
		padding: 10px;
		cursor: pointer;
		display: block;
		text-decoration: none;
	}
	
	.login-as:hover {
		background: #2070f7;
	}
	
	p {
		margin-bottom:10px;
		color:grey;
	}
	
	.alert.alert-error {
		background: linear-gradient(to right, #f72020, #ff4444);
		color: white;
		padding: 10px;
		margin-top: 20px;
	}
	
	.alert.alert-success {
	    background: linear-gradient(to right, #00b936, #43e027);
		color: white;
		padding: 10px;
		margin-top: 20px;
	}
	
	#login-form {	
		width: 400px;
		height: auto;
		padding: 10px;
		border-radius: 5px;
		font-weight: 300;
		
		margin-left: auto;
		margin-right: auto;
		margin-top:50px;
		
		legend {
			font-size: 2.35em;
			color: #4e5369;
			line-height: 1.3em;

			text-align: center;
			margin-bottom: 10px;
		}
		
		label {
			display: none;
		}
		
		input {
			width: 350px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-bottom: 10px;
			margin-top: 10px;
			font-family: $font-form;
			background-color: #fbfbfb;
			font-size: 1.5em;
			border-radius: 1px;
			border: 1px solid #fbfbfb;
			border-bottom: 1px solid #d9dae0;
			outline: none;
			line-height: 1.5em;
		}
		
		.form-actions {	
				width: 100px;
				margin-left: auto;
				margin-right: auto;
				
			button {
				width: 100px;
				text-align: center;
				margin-top: 30px;
				margin-left: auto;
				margin-right: auto;
				font-family: $font-form;
				font-weight: 500;
				font-size: 1em;
			}
		}
		
		#email{
		    position: absolute;
			left: 105%;
		}		
	}
}