$font-main: 'Roboto', Times New Roman, Helvetica, sans-serif;
$font-header: 'Roboto', Times New Roman, Helvetica, sans-serif;
$font-code: 'Cutive Mono', 'Courier';

html {
	overflow-x: hidden;
}

article {
	background-color: #f3f6f8;
	
	height: 100vh;
	
	flex: 3 1 60%;
	order: 3;
	
	font-family: $font-main;
	font-weight: 300;
	line-height: 1.4em;
	
	h1 {
		font-size: 2.35em;
		color: #4e5369;
		line-height: 1em;
		width: 63vw;
	}
	
	h2 {
		font-size: 1.25em;		
	}
	
	h1, h2 {
		padding: 0em 0.05em 0.25em 0.05em;
		font-family: $font-header;			
	}
	
	#content-new-issue-title {
		width:100%;
	}
	
	#content-userinfo, #content-new-issue-title {
		position: fixed;
		background-color: #f3f6f8;
		z-index: 35;

		#content-userinfo-details {
			padding-top: 0.7em;
			height: 3.6em;
			
			.userinfo-details-col {
				float: left;
				width: 30%;
				
				p {
					padding-left: 0;
					padding-bottom: 8px;
					padding-top: 0;
					padding-right: 0;				
				}
			}
		}
		
		#content-userinfo-attachments {
			clear: both;

			p {
				padding-left: 0;			
			}			
		}
	}
	
}

@media (max-width: 1201px) { 
	aside {
		min-width: 200px;
	}	
	#content-main {
		padding-left: 2px !important;
	}
}

article section {
	padding: 1em;
	box-sizing: border-box;
	
	> section:first-child {
		padding-top: 4.5em; 
	}
}

article#main section#content-main p.content{
	padding-top: 14.5em;
}

article section p{
	padding: 0.5em;
	box-sizing: border-box;
}

article section p.code{
	font-family: $font-code;
	font-size: 1em;
	background-color: #212121;
	color: #ffffff;
	padding: 0.8em;
	margin: 0.5em;
}

div#initial-load { 
    background: #f3f6f8;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 88;
}

h3.project-title {
	font-family: $font-header;	
	font-size: 1em;
    letter-spacing: 1.5px;
    font-weight: 100;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
	color: #696a6d;
}

table.team-member tr {
    height: 2.5em;
	
	td {
		padding-left: 1em;
		padding-right: 1.5em;
		
		strong {
			font-weight: 500;
		}
		
		span {
		}
		
		a {
			font-weight: 100;
			text-decoration: none;
			color:#2070f7;
		}
	}
}

#invitations form {

	padding-top: 0.5em;
	padding-bottom: 0.5em;

	input{
		width: 16em;
	}
	
	span {
		padding: 1em;
		font-size: 1.2em;
		position: relative;
		top: -2px;
	}
	
	button {
		width: 15em;
	}
}