$font-menu: 'Roboto', Times New Roman, Helvetica, sans-serif;

nav {
	background-color: #ffffff;
	
	height: 100vh;
	min-width: 250px;
	max-width: 5%;
	
	flex: 3 1 5%;
	order: 1;
	
	box-sizing: border-box;
	font-family: $font-menu;
	font-size: 0.83em;
	font-weight: 500;
    padding: 0.1em 1em 1em 0em;
	
	a:hover {		
		color: #2070f7;
		
		i {
		  color: #2070f7;
		}
	}
	
	a:first-of-type {
		border-top: 1px solid #f0f2f5;
	}
	
	a {	
		margin: 0 !important;
		padding-left: 0.5em;
		padding-top: 1.54em;
		padding-bottom: 1.54em;
		border-bottom: 1px solid #f0f2f5;
		
		i {
		  padding-right: 1.0em;
		  padding-left: 0.35em;
		  font-size: 1.2em !important;
		  position: relative;
		  top: 0.15em;
		  color: #adadad;
		}
	}
	
	a.active {
		background: linear-gradient(90deg, #f4f7ff, #ffffff);
		color: #2070f7;
		cursor: default;
		
		i {
			color: #2070f7;
		}
	}
	
	button {
		width: 90%;
	}
}

@media (max-width: 1201px) { 
	nav {
		min-width: 50px;
		padding: 0.25em;

		font-size: 1.25em;
		span {
			display: none !important;
		}	
	}	
}

nav > a {
	width: 100%;
	display: block;
	
	margin: 0.35em 0;
	box-sizing: border-box;
	
	color: #56606f;
	text-decoration: none;
	
	font-size: 1.05em;
}