#team-progress {

	h2, h3 {
		clear: both;
	}

	h3 {
		@include border-radius(10px);
		background: #ffffff;
		color: #212121;
		padding: 0.5em;
		padding-left: 0.75em;
		margin-top: 0.5em;
		font-size: 1.1em;
		font-weight: 500;

		i {
			text-align: left;
		}
	}

  div {
    section.daily-issue:last-child {
      margin-bottom: 1em;
    }

    section.daily-issue {
      @include border-radius(5px);

      width: 21em;
      height: 10em;
      float: left;
      padding: 1em 1em 0.75em 1em;
      box-sizing: border-box;
      background-color: #ffffff;
      margin: 0.55em 0.95em 0.45em 0em;
      font-size: 0.9em;
      border: 2px solid #ffffff;

      h4{
        font-weight: 500;

        a, a:link, a:active, a:visited {
          color: #1b1e2b;
          text-decoration: none;
        }

        a:hover {
          color: #35394b;
          text-decoration: none;
        }

        span.mine { 
          color: #fb0764;
        }
      }
    }
  }
}