$font-main: 'Roboto', Times New Roman, Helvetica, sans-serif;

section.month-view {
	margin-right: 0;
    padding-right: 0;
	padding-top: 0;
	
	h1 {
		margin-bottom: 0.25em;
		font-weight: 400;
		width: 3em;
	}
	
	h1.today{
		color: #004ed2;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
		
		tr.week-view td {
			vertical-align: top;
			background: white;
			border: 0.35em solid #f3f6f8;
		}
		
		p {
			padding:0;
			font-weight: 100;
		}
		
		section.inactive {
			opacity: 0.5;
		}
		
		section.day-view {
			width: 13em;
			padding: 0.75em;
			display: inline-block;
			margin-right: 0.25em;
			margin-bottom: 0.25em;
			
			h2 {
				margin-bottom: 0.55em;
				
				span.total-time {
					float: right;
					margin-right: 0.75em;
					background-color: #4e5369;
					padding: 0.25em;
					padding-top: 0.1em;
					padding-bottom: 0.1em;
					color: white;
					position: relative;
					top: -0.10em;
				}
			}

			h4 {
				padding-bottom: 0.5em;
				
				a, span.none {
					color: #0d0e13;
					text-decoration: none;
					font-weight: 100;
				}
				
				a:hover {
					color: #2070f7;
					text-decoration: underline;
				}
			}
		}
	}
}