#nav-bottom {	
	position: absolute;
    bottom: 0em;
    left: 0em;
    background: white;
    min-width: 250px;
    max-width: 5%;
    padding-top: 0.5em;
    padding-bottom: 1em;
	
	p {
		padding-bottom:0.5em;
		font-size: 1.05em;
		color: #202225;
		max-width: 232px;
		line-height:1.05em;
		padding-left:1em;
	}

	#tracker {	
		a, a:active, a:visited, a:link {
			color: #2070f7;
			text-decoration:none;
		}
		a:hover {
			color: #2070f7;
			text-decoration:underline;
		}
	}
}

@media (max-height: 690px) { 
	#nav-bottom {	
		display: none;
	}
}

