$font-main: 'Roboto', Times New Roman, Helvetica, sans-serif;
$font-header: 'Roboto', Times New Roman, Helvetica, sans-serif;
$font-code: 'Cutive Mono', 'Courier';

section#content-main p.warning{
	padding: 1.2em;
    background: linear-gradient(95deg, #2070f7, #5d99ff);
    color: #f3f6f8;
    margin-top: 1em;
    font-weight: 100 !important;
    margin-bottom: 1em;
	
	a, a:link, a:active, a:visited {
		color: #f5fcff;
	}
	
	a:hover {
		color: #dedede;
	}
}

div.undecided-option {
	display: inline-block;
	width: 30%;
	margin-right:0.5em;
	float:left;
	
	strong {
		font-weight: 400;
	}
	
	div.undecided-group {
		border: 1px solid #adadad;
		border-radius: 5px;
		padding: 1em;
		background: white;
		min-height:13em;
		min-width:200px;
		position: relative;	
		margin-top: 0.5em;
			
		h2 {
			font-weight: 400;
		}
		
		p:last-child {
			padding-bottom:3em;
		}
			
		button {
			width: 90%;
			margin: 2em 0 0 0;
			position: absolute;
			bottom: 1em;
			text-align: center;
		}
		
		button.critical {
			background: #961919;
			border: 2px solid #6d1212;
		}
		
		button.critical:hover {
			background: #c33c3c;
		}
	}
}

@media (max-width: 1630px) { 
	section.undecided-group {
		padding-left:0 !important;
	}
	
	div.undecided-option {
		display: block;
		width: auto;
		margin-right: 0.5em;
		margin-bottom: 1em;
		float: none;
		
		div.undecided-group {
			min-height: 10em;
		}
				
		p:last-child {
			padding-bottom:0em;
		}
	}
}