/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_common.scss */
body {
  display: flex;
  flex-flow: row;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* line 13, ../sass/_common.scss */
aside section, aside section p, aside section h1 {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

/* line 21, ../sass/_common.scss */
#content-new-issue {
  display: none;
}

/* line 39, ../sass/_common.scss */
button {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: #2070f7;
  border: 2px solid #4489ff;
  color: #ffffff;
  cursor: pointer;
  margin: 1em;
  outline: none;
  padding: 0.85em;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
/* line 57, ../sass/_common.scss */
button i.fa {
  font-size: 1.2em;
}
/* line 61, ../sass/_common.scss */
button span {
  padding: 0em 0em 0em 0.4em;
  font-weight: 500;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  line-height: 1em;
  height: 0.85em;
  display: inline-block;
  font-size: 1em;
  position: relative;
  top: -0.1em;
}

/* line 74, ../sass/_common.scss */
button:hover {
  background-color: #4489ff;
}

/* line 78, ../sass/_common.scss */
button.altpath {
  background-color: #ffffff;
  border: 2px solid #4489ff;
  color: #0046bd;
}

/* line 84, ../sass/_common.scss */
button.altpath:hover {
  background-color: #eef4ff;
}

/* line 88, ../sass/_common.scss */
i.fa {
  width: 1.2em;
  text-align: center;
}

/* line 93, ../sass/_common.scss */
.visible {
  display: block !important;
}

/* line 97, ../sass/_common.scss */
.invisible {
  display: none !important;
}

/* line 3, ../sass/_loader.scss */
article#loader {
  display: none;
}
/* line 6, ../sass/_loader.scss */
article#loader section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
/* line 11, ../sass/_loader.scss */
article#loader section h1 {
  text-align: center;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 3em;
  height: 1.5em;
  line-height: 1.5em;
  display: block;
  color: #2070f7;
  width: 95%;
}
/* line 22, ../sass/_loader.scss */
article#loader section div#savebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95%;
  height: 0.2em !important;
}
/* line 29, ../sass/_loader.scss */
article#loader section div#savebar svg {
  height: 0.2em !important;
}

/* line 3, ../sass/_menu.scss */
nav {
  background-color: #ffffff;
  height: 100vh;
  min-width: 250px;
  max-width: 5%;
  flex: 3 1 5%;
  order: 1;
  box-sizing: border-box;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.83em;
  font-weight: 500;
  padding: 0.1em 1em 1em 0em;
}
/* line 19, ../sass/_menu.scss */
nav a:hover {
  color: #2070f7;
}
/* line 22, ../sass/_menu.scss */
nav a:hover i {
  color: #2070f7;
}
/* line 27, ../sass/_menu.scss */
nav a:first-of-type {
  border-top: 1px solid #f0f2f5;
}
/* line 31, ../sass/_menu.scss */
nav a {
  margin: 0 !important;
  padding-left: 0.5em;
  padding-top: 1.54em;
  padding-bottom: 1.54em;
  border-bottom: 1px solid #f0f2f5;
}
/* line 38, ../sass/_menu.scss */
nav a i {
  padding-right: 1.0em;
  padding-left: 0.35em;
  font-size: 1.2em !important;
  position: relative;
  top: 0.15em;
  color: #adadad;
}
/* line 48, ../sass/_menu.scss */
nav a.active {
  background: linear-gradient(90deg, #f4f7ff, #ffffff);
  color: #2070f7;
  cursor: default;
}
/* line 53, ../sass/_menu.scss */
nav a.active i {
  color: #2070f7;
}
/* line 58, ../sass/_menu.scss */
nav button {
  width: 90%;
}

@media (max-width: 1201px) {
  /* line 64, ../sass/_menu.scss */
  nav {
    min-width: 50px;
    padding: 0.25em;
    font-size: 1.25em;
  }
  /* line 69, ../sass/_menu.scss */
  nav span {
    display: none !important;
  }
}
/* line 75, ../sass/_menu.scss */
nav > a {
  width: 100%;
  display: block;
  margin: 0.35em 0;
  box-sizing: border-box;
  color: #56606f;
  text-decoration: none;
  font-size: 1.05em;
}

/* line 3, ../sass/_aside.scss */
aside {
  background-color: #f3f6f8;
  height: 100vh;
  min-width: 350px;
  flex: 3 1 15%;
  order: 2;
  color: #404854;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.83em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: pointer;
}
/* line 22, ../sass/_aside.scss */
aside div.progress {
  display: block;
  width: 100%;
  height: 0.3em;
  border-radius: 10px;
}

/* line 30, ../sass/_aside.scss */
aside section:first-child {
  margin-top: 1em;
}

/* line 34, ../sass/_aside.scss */
aside section:last-child {
  margin-bottom: 0.5em;
}

/* line 38, ../sass/_aside.scss */
aside section {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.75em;
  width: 96%;
  background-color: #ffffff;
  margin: 0.7em 0em;
  border: 2px solid #f3f6f8;
}
/* line 48, ../sass/_aside.scss */
aside section i {
  float: right;
  color: #ff6e6e;
  font-size: 8px !important;
  line-height: 1.5em;
}

/* line 56, ../sass/_aside.scss */
aside section.active {
  background-color: #2070f7 !important;
  color: #ffffff !important;
  cursor: default;
}

/* line 62, ../sass/_aside.scss */
aside section.hover {
  border: 2px solid #2070f7;
}

/* line 66, ../sass/_aside.scss */
aside section > h1 {
  font-weight: 500;
  padding: 1em 1em 0.1em 1em;
  box-sizing: border-box;
}

/* line 72, ../sass/_aside.scss */
aside section > p {
  padding: 1em;
  box-sizing: border-box;
  font-weight: 300;
}

/* line 5, ../sass/_main.scss */
article {
  background-color: #f3f6f8;
  height: 100vh;
  flex: 3 1 60%;
  order: 3;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 17, ../sass/_main.scss */
article h1 {
  font-size: 2.35em;
  color: #4e5369;
  line-height: 1em;
  width: 63vw;
}
/* line 24, ../sass/_main.scss */
article h2 {
  font-size: 1.25em;
}
/* line 28, ../sass/_main.scss */
article h1, article h2 {
  padding: 0em 0.05em 0.25em 0.05em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
}
/* line 33, ../sass/_main.scss */
article #content-new-issue-title {
  width: 100%;
}
/* line 37, ../sass/_main.scss */
article #content-userinfo, article #content-new-issue-title {
  position: fixed;
  background-color: #f3f6f8;
  z-index: 35;
}
/* line 42, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details, article #content-new-issue-title #content-userinfo-details {
  padding-top: 0.7em;
  height: 3.6em;
}
/* line 46, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details .userinfo-details-col, article #content-new-issue-title #content-userinfo-details .userinfo-details-col {
  float: left;
  width: 30%;
}
/* line 50, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details .userinfo-details-col p, article #content-new-issue-title #content-userinfo-details .userinfo-details-col p {
  padding-left: 0;
  padding-bottom: 8px;
  padding-top: 0;
  padding-right: 0;
}
/* line 59, ../sass/_main.scss */
article #content-userinfo #content-userinfo-attachments, article #content-new-issue-title #content-userinfo-attachments {
  clear: both;
}
/* line 62, ../sass/_main.scss */
article #content-userinfo #content-userinfo-attachments p, article #content-new-issue-title #content-userinfo-attachments p {
  padding-left: 0;
}

@media (max-width: 851px) {
  /* line 71, ../sass/_main.scss */
  article {
    display: none;
  }
}
/* line 76, ../sass/_main.scss */
article section {
  padding: 1em;
  box-sizing: border-box;
}
/* line 80, ../sass/_main.scss */
article section section:first-child {
  padding-top: 4.5em;
}

/* line 85, ../sass/_main.scss */
article#main section#content-main p:first-child {
  padding-top: 13em;
}

/* line 89, ../sass/_main.scss */
article section p {
  padding: 0.5em;
  box-sizing: border-box;
}

/* line 94, ../sass/_main.scss */
article section p.code {
  font-family: "Cutive Mono", "Courier";
  font-size: 1em;
  background-color: #212121;
  color: #ffffff;
  padding: 0.8em;
  margin: 0.5em;
}

/* line 3, ../sass/_standup.scss */
#team-progress h2, #team-progress h3 {
  clear: both;
}
/* line 7, ../sass/_standup.scss */
#team-progress h3 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #212121;
  padding: 0.5em;
  padding-left: 0.75em;
  margin-top: 0.5em;
  font-size: 1.1em;
  font-weight: 500;
}
/* line 17, ../sass/_standup.scss */
#team-progress h3 i {
  text-align: left;
}
/* line 23, ../sass/_standup.scss */
#team-progress div section.daily-issue:last-child {
  margin-bottom: 1em;
}
/* line 27, ../sass/_standup.scss */
#team-progress div section.daily-issue {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 21em;
  height: 10em;
  float: left;
  padding: 1em 1em 0.75em 1em;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0.55em 0.95em 0.45em 0em;
  font-size: 0.9em;
  border: 2px solid #ffffff;
}
/* line 40, ../sass/_standup.scss */
#team-progress div section.daily-issue h4 {
  font-weight: 500;
}
/* line 43, ../sass/_standup.scss */
#team-progress div section.daily-issue h4 a, #team-progress div section.daily-issue h4 a:link, #team-progress div section.daily-issue h4 a:active, #team-progress div section.daily-issue h4 a:visited {
  color: #1b1e2b;
  text-decoration: none;
}
/* line 48, ../sass/_standup.scss */
#team-progress div section.daily-issue h4 a:hover {
  color: #35394b;
  text-decoration: none;
}
/* line 53, ../sass/_standup.scss */
#team-progress div section.daily-issue h4 span.mine {
  color: #fb0764;
}

/* line 3, ../sass/_forms.scss */
article form {
  padding-left: 0.5em;
  padding-top: 2em;
  font-weight: 300;
}
/* line 8, ../sass/_forms.scss */
article form label {
  display: block;
  padding: 0.5em;
  width: 90%;
  font-size: 0.9em;
  padding-bottom: 0.4em;
  padding-left: 0em;
  color: #565656;
  position: relative;
  top: 0.35em;
  font-weight: 500;
}
/* line 20, ../sass/_forms.scss */
article form label span.error {
  padding-left: 1em;
  font-weight: 300;
  color: red;
}
/* line 27, ../sass/_forms.scss */
article form input[type=text], article form textarea, article form select, article form option {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-border-radius: 10px 10px 2px 2px;
  -moz-border-radius: 10px 10px 2px 2px;
  -ms-border-radius: 10px 10px 2px 2px;
  border-radius: 10px 10px 2px 2px;
  outline: none;
  padding: 0.5em;
  width: 90%;
  margin-bottom: 0.3em;
  border-radius: 1px;
  border: 1px solid #fbfbfb;
  border-bottom: 1px solid #d9dae0;
  outline: none;
  line-height: 1.5em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  resize: none;
}
/* line 47, ../sass/_forms.scss */
article form input[type=text], article form textarea, article form select {
  background-color: #fbfbfb;
  font-size: 1.5em;
}
/* line 52, ../sass/_forms.scss */
article form option {
  color: #000000 !important;
}
/* line 56, ../sass/_forms.scss */
article form input[type=text]:focus, article form textarea:focus, article form select:focus {
  border-bottom: 1px solid #2070f7;
  color: #000000;
}
/* line 61, ../sass/_forms.scss */
article form button {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  height: 3em;
  width: 7em;
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}
/* line 71, ../sass/_forms.scss */
article form div.button-group {
  display: block;
  margin-top: 1em;
}
/* line 75, ../sass/_forms.scss */
article form div.button-group button {
  margin: 0.5em;
}

/* line 81, ../sass/_forms.scss */
span.length-limiter {
  color: #ffffff;
  display: block;
  position: relative;
  top: -0.25em;
  font-weight: 500;
  background: #2070f7;
  border-radius: 8px 3px 8px 8px;
  text-align: center;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.21em;
  padding-bottom: 0;
  width: 1.5em;
  margin-top: 0.1em;
}

/* line 3, ../sass/_overlay.scss */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 40;
}
/* line 12, ../sass/_overlay.scss */
#overlay #overlay-detail {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 24em;
  background-color: white;
  margin-left: 1.9em;
  margin-top: -0.5em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 29, ../sass/_overlay.scss */
#overlay #overlay-detail .overlay-options {
  display: none;
}
/* line 33, ../sass/_overlay.scss */
#overlay #overlay-detail hr {
  border: 1px solid #ececec;
}
/* line 37, ../sass/_overlay.scss */
#overlay #overlay-detail p {
  padding-top: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.5em;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
/* line 49, ../sass/_overlay.scss */
#overlay #overlay-detail ul {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}
/* line 53, ../sass/_overlay.scss */
#overlay #overlay-detail ul li {
  margin: 0.2em;
  cursor: pointer;
  padding: 0.4em 0em 0.4em 0.4em;
  margin-right: 1em;
}
/* line 60, ../sass/_overlay.scss */
#overlay #overlay-detail ul li.active {
  background-color: #2070f7 !important;
  color: #ffffff;
}
/* line 65, ../sass/_overlay.scss */
#overlay #overlay-detail ul li.hover {
  background: #e6e6e6;
}
/* line 70, ../sass/_overlay.scss */
#overlay #overlay-detail span.changing {
  background: linear-gradient(90deg, gainsboro, #e4e4e4);
  padding: 2px 5px;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 79, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group {
  background: #e6e6e6;
  padding-left: 0.5em;
  padding-top: 0.15em;
  margin-top: 0.7em;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/* line 87, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group button, #overlay #overlay-detail div.button-group button.altpath {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  height: 3em;
  width: 7em;
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #374058;
  background-color: #e6e6e6;
  border: none;
  font-weight: 500;
}
/* line 102, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group button:hover {
  background-color: #35394B;
  color: #fbfbfb;
}

/* line 110, ../sass/_overlay.scss */
span.changeable {
  background-color: lightgray;
  padding: 2px 5px;
  cursor: pointer;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

/* line 120, ../sass/_overlay.scss */
span.changeable:hover {
  background-color: #ececec;
}
