/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_common.scss */
body {
  display: flex;
  flex-flow: row;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 1040px;
}

/* line 15, ../sass/_common.scss */
aside section, aside section p, aside section h1 {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

/* line 23, ../sass/_common.scss */
#content-new-issue {
  display: none;
}

/* line 27, ../sass/_common.scss */
#content-userinfo {
  min-width: 680px;
}

/* line 45, ../sass/_common.scss */
button {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: #2070f7;
  border: 1px solid #4489ff;
  color: #ffffff;
  cursor: pointer;
  margin: 1em;
  outline: none;
  padding: 0.85em;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
/* line 63, ../sass/_common.scss */
button i.fa {
  font-size: 1.2em;
}
/* line 67, ../sass/_common.scss */
button span {
  padding: 0em 0em 0em 0.4em;
  font-weight: 500;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  line-height: 1em;
  height: 0.85em;
  display: inline-block;
  font-size: 1em;
  position: relative;
  top: -0.1em;
}

/* line 80, ../sass/_common.scss */
button:hover {
  background-color: #4489ff;
}

/* line 84, ../sass/_common.scss */
button.altpath {
  background-color: #ffffff;
  border: 1px solid #4489ff;
  color: #0046bd;
}

/* line 90, ../sass/_common.scss */
button.altpath:hover {
  background-color: #eef4ff;
}

/* line 94, ../sass/_common.scss */
i.fa {
  width: 1.2em;
  text-align: center;
}

/* line 100, ../sass/_common.scss */
aside i.fa {
  position: relative;
  left: -2px;
  top: 2px;
}

/* line 107, ../sass/_common.scss */
.visible {
  display: block !important;
}

/* line 111, ../sass/_common.scss */
.invisible {
  display: none !important;
}

/* line 115, ../sass/_common.scss */
label.r-option {
  display: inline-block;
  position: relative;
  top: 1px;
  font-weight: 300;
  left: 2px;
  font-size: 1.5em;
  cursor: pointer;
}

/* line 125, ../sass/_common.scss */
label.disabled {
  opacity: 0.5;
  cursor: default;
}

/* line 130, ../sass/_common.scss */
#aside-options, .standup-options {
  padding-top: 1.25em;
  padding-bottom: 0.5em;
}
/* line 134, ../sass/_common.scss */
#aside-options a, .standup-options a {
  color: #2070f7;
  text-decoration: none;
  padding: 0.53em 0.75em;
  background: #f3f6f8;
  border-radius: 14px;
  font-weight: 500;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  line-height: 1em;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 146, ../sass/_common.scss */
#aside-options a span, .standup-options a span {
  color: #154596;
  border-radius: 3px;
  background: #e3e8ea;
  padding: 0 3px;
  margin-left: 3px;
  padding-right: 4px;
}
/* line 156, ../sass/_common.scss */
#aside-options a.t-active, .standup-options a.t-active {
  color: white;
  background: #2070f7;
  padding-left: 10px;
}
/* line 161, ../sass/_common.scss */
#aside-options a.t-active span, .standup-options a.t-active span {
  background: #5796ff;
  border-radius: 3px;
  padding: 0 3px;
  margin-left: 3px;
  padding-right: 5px;
  position: relative;
  top: 0px;
  color: #ffffff;
  display: inline-block;
}
/* line 174, ../sass/_common.scss */
#aside-options a.t-active:hover, .standup-options a.t-active:hover {
  background: #2070f7;
}
/* line 177, ../sass/_common.scss */
#aside-options a.t-active:hover span, .standup-options a.t-active:hover span {
  background: #5796ff;
  color: #ffffff;
}
/* line 183, ../sass/_common.scss */
#aside-options a:hover, .standup-options a:hover {
  background: #e3e8ea;
}
/* line 186, ../sass/_common.scss */
#aside-options a:hover span, .standup-options a:hover span {
  background: #ccd2d6;
  color: black;
}

/* line 193, ../sass/_common.scss */
.standup-options {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.8em;
}
/* line 198, ../sass/_common.scss */
.standup-options a.t-active {
  padding-left: 0.75em;
}

/* line 3, ../sass/_loader.scss */
article#loader {
  display: none;
}
/* line 6, ../sass/_loader.scss */
article#loader section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
}
/* line 11, ../sass/_loader.scss */
article#loader section h1 {
  text-align: center;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 3em;
  height: 1.5em;
  line-height: 1.5em;
  display: block;
  color: #2070f7;
  width: 95%;
}
/* line 22, ../sass/_loader.scss */
article#loader section div#savebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95%;
  height: 0.2em !important;
}
/* line 29, ../sass/_loader.scss */
article#loader section div#savebar svg {
  height: 0.2em !important;
}

/* line 3, ../sass/_menu.scss */
nav {
  background-color: #ffffff;
  height: 100vh;
  min-width: 250px;
  max-width: 5%;
  flex: 3 1 5%;
  order: 1;
  box-sizing: border-box;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.83em;
  font-weight: 500;
  padding: 0.1em 1em 1em 0em;
}
/* line 19, ../sass/_menu.scss */
nav a:hover {
  color: #2070f7;
}
/* line 22, ../sass/_menu.scss */
nav a:hover i {
  color: #2070f7;
}
/* line 27, ../sass/_menu.scss */
nav > a:first-of-type {
  border-top: 1px solid #f0f2f5;
}
/* line 31, ../sass/_menu.scss */
nav > a {
  margin: 0 !important;
  padding-left: 0.5em;
  padding-top: 1.54em;
  padding-bottom: 1.54em;
  border-bottom: 1px solid #f0f2f5;
}
/* line 38, ../sass/_menu.scss */
nav > a i {
  padding-right: 1.0em;
  padding-left: 0.35em;
  font-size: 1.2em !important;
  position: relative;
  top: 0.15em;
  color: #adadad;
}
/* line 48, ../sass/_menu.scss */
nav a.active {
  background: linear-gradient(90deg, #f4f7ff, #ffffff);
  color: #2070f7;
  cursor: default;
}
/* line 53, ../sass/_menu.scss */
nav a.active i {
  color: #2070f7;
}
/* line 58, ../sass/_menu.scss */
nav button {
  width: 90%;
}

@media (max-width: 1201px) {
  /* line 64, ../sass/_menu.scss */
  nav {
    width: 55px;
    min-width: 55px;
    max-width: 55px;
    padding: 0;
  }
  /* line 70, ../sass/_menu.scss */
  nav button {
    width: 45px;
    position: relative;
    left: -8px;
  }
  /* line 76, ../sass/_menu.scss */
  nav span {
    display: none !important;
  }
  /* line 80, ../sass/_menu.scss */
  nav a i {
    padding-left: 10px;
  }

  /* line 85, ../sass/_menu.scss */
  #tracker {
    display: none;
  }
}
/* line 90, ../sass/_menu.scss */
nav > a {
  width: 100%;
  display: block;
  margin: 0.35em 0;
  box-sizing: border-box;
  color: #56606f;
  text-decoration: none;
  font-size: 1.05em;
}

/* line 3, ../sass/_aside.scss */
aside {
  background-color: #f3f6f8;
  height: 100vh;
  min-width: 400px;
  flex: 3 1 15%;
  order: 2;
  color: #404854;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.83em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  cursor: pointer;
}
/* line 22, ../sass/_aside.scss */
aside div.progress {
  display: block;
  width: 100%;
  height: 0.3em;
  border-radius: 10px;
}
/* line 29, ../sass/_aside.scss */
aside #aside-loader {
  display: none;
}
/* line 32, ../sass/_aside.scss */
aside #aside-loader img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5em;
  width: 200px;
  height: 200px;
}

/* line 43, ../sass/_aside.scss */
aside section:first-child {
  margin-top: 1em;
}

/* line 47, ../sass/_aside.scss */
aside section:last-child {
  margin-bottom: 0.5em;
}

/* line 51, ../sass/_aside.scss */
aside section.active i {
  color: #2070f7;
  opacity: 0;
}

/* line 56, ../sass/_aside.scss */
aside section {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0.75em;
  max-width: 96%;
  background-color: #ffffff;
  margin: 0.7em 0em;
  border: 2px solid #f3f6f8;
}
/* line 66, ../sass/_aside.scss */
aside section i {
  float: right;
  color: #ffffff;
  opacity: 0;
  font-size: 8px !important;
  line-height: 1.5em;
}
/* line 74, ../sass/_aside.scss */
aside section i.undetermined-issue {
  color: #b5b5b5;
  opacity: 1;
}
/* line 79, ../sass/_aside.scss */
aside section i.inprogress-issue {
  color: #2070f7;
  opacity: 1;
}
/* line 84, ../sass/_aside.scss */
aside section i.critical-issue {
  color: #ff6e6e;
  opacity: 1;
}
/* line 89, ../sass/_aside.scss */
aside section i.overload-issue {
  color: #ffb26e;
  opacity: 1;
}

/* line 95, ../sass/_aside.scss */
aside section.active:not([issue-id='-1']) {
  background: linear-gradient(to right, #2070f7, #1a5fd4) !important;
  color: #ffffff !important;
  cursor: default;
}

/* line 101, ../sass/_aside.scss */
aside section[issue-id='-1'] {
  opacity: 0.7;
  background: linear-gradient(to right, #383838, #717171) !important;
  color: #ffffff !important;
  cursor: default;
}

/* line 108, ../sass/_aside.scss */
aside section.hover {
  border: 2px solid #2070f7;
}

/* line 112, ../sass/_aside.scss */
aside section > h1 {
  font-weight: 500;
  padding: 1em 1em 0.1em 1em;
  box-sizing: border-box;
}
/* line 117, ../sass/_aside.scss */
aside section > h1 span {
  line-height: 1.25em;
}

/* line 122, ../sass/_aside.scss */
aside section > p {
  padding: 1em;
  box-sizing: border-box;
  font-weight: 300;
}

/* line 128, ../sass/_aside.scss */
aside section[importance="11"] {
  color: white;
  background: linear-gradient(to right, #15b972, #16b76c) !important;
}

@media (max-width: 1870px) {
  /* line 134, ../sass/_aside.scss */
  aside #aside-options a span {
    display: none;
  }
}
@media (max-width: 1201px) {
  /* line 140, ../sass/_aside.scss */
  aside #aside-options a {
    display: block;
    text-align: center;
  }

  /* line 145, ../sass/_aside.scss */
  article#main section#content-main p.content {
    padding-top: 18em !important;
  }

  /* line 149, ../sass/_aside.scss */
  div.milestone-details-col {
    display: block;
    width: 100%;
  }

  /* line 154, ../sass/_aside.scss */
  .userinfo-details-col {
    width: 45%;
  }
}
/* line 1, ../sass/_tracker.scss */
#nav-bottom {
  position: absolute;
  bottom: 0em;
  left: 0em;
  background: white;
  min-width: 250px;
  max-width: 5%;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
/* line 11, ../sass/_tracker.scss */
#nav-bottom p {
  padding-bottom: 0.5em;
  font-size: 1.05em;
  color: #202225;
  max-width: 232px;
  line-height: 1.05em;
  padding-left: 1em;
}
/* line 20, ../sass/_tracker.scss */
#nav-bottom #tracker {
  width: 90%;
}
/* line 23, ../sass/_tracker.scss */
#nav-bottom #tracker a, #nav-bottom #tracker a:active, #nav-bottom #tracker a:visited, #nav-bottom #tracker a:link {
  color: #2070f7;
  text-decoration: none;
}
/* line 27, ../sass/_tracker.scss */
#nav-bottom #tracker a:hover {
  color: #2070f7;
  text-decoration: underline;
}

@media (max-height: 690px) {
  /* line 35, ../sass/_tracker.scss */
  #nav-bottom {
    display: none;
  }
}
/* line 5, ../sass/_main.scss */
html {
  overflow-x: hidden;
}

/* line 9, ../sass/_main.scss */
article {
  background-color: #f7f9fa;
  height: 100vh;
  flex: 3 1 60%;
  order: 3;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 21, ../sass/_main.scss */
article h1 {
  font-size: 2.35em;
  color: #4e5369;
  line-height: 1.3em;
  width: 63vw;
}
/* line 28, ../sass/_main.scss */
article h2 {
  font-size: 1.25em;
}
/* line 32, ../sass/_main.scss */
article h1, article h2 {
  padding: 0em 0.05em 0.25em 0.05em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
}
/* line 37, ../sass/_main.scss */
article #content-new-issue-title {
  width: 100%;
}
/* line 41, ../sass/_main.scss */
article #content-userinfo-attachments {
  display: none;
}
/* line 45, ../sass/_main.scss */
article div.ss-wrapper {
  background: linear-gradient(to right, #f3f6f8, white);
  position: relative;
  padding-left: 10px;
  left: -10px;
}
/* line 52, ../sass/_main.scss */
article #content-userinfo, article #content-new-issue-title {
  position: fixed;
  background: linear-gradient(to right, #f3f6f8, white);
  z-index: 35;
}
/* line 57, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details, article #content-new-issue-title #content-userinfo-details {
  padding-top: 0.7em;
  height: 3.6em;
}
/* line 61, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details .userinfo-details-col, article #content-userinfo #content-userinfo-details .milestone-details-col, article #content-new-issue-title #content-userinfo-details .userinfo-details-col, article #content-new-issue-title #content-userinfo-details .milestone-details-col {
  float: left;
  width: 15em;
}
/* line 65, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details .userinfo-details-col p, article #content-userinfo #content-userinfo-details .milestone-details-col p, article #content-new-issue-title #content-userinfo-details .userinfo-details-col p, article #content-new-issue-title #content-userinfo-details .milestone-details-col p {
  padding-left: 0;
  padding-bottom: 8px;
  padding-top: 0;
  padding-right: 1.5em;
}
/* line 73, ../sass/_main.scss */
article #content-userinfo #content-userinfo-details .milestone-details-col, article #content-new-issue-title #content-userinfo-details .milestone-details-col {
  width: 25em;
}
/* line 78, ../sass/_main.scss */
article #content-userinfo #content-userinfo-attachments, article #content-new-issue-title #content-userinfo-attachments {
  clear: both;
}
/* line 81, ../sass/_main.scss */
article #content-userinfo #content-userinfo-attachments p, article #content-new-issue-title #content-userinfo-attachments p {
  padding-left: 0;
}

@media (max-width: 1201px) {
  /* line 90, ../sass/_main.scss */
  aside {
    min-width: 200px;
  }

  /* line 93, ../sass/_main.scss */
  #content-main {
    padding-left: 2px !important;
  }
}
/* line 98, ../sass/_main.scss */
article section {
  padding: 1em;
  box-sizing: border-box;
}
/* line 102, ../sass/_main.scss */
article section > section:first-child {
  padding-top: 4.5em;
}

/* line 107, ../sass/_main.scss */
article#main section#content-main p.content {
  padding-top: 14.5em;
}

/* line 111, ../sass/_main.scss */
article section p {
  padding: 0.2em;
  box-sizing: border-box;
}

/* line 116, ../sass/_main.scss */
article section p.code {
  font-family: "Cutive Mono", "Courier";
  font-size: 1em;
  background-color: #212121;
  color: #ffffff;
  padding: 0.8em;
  margin: 0.5em;
}

/* line 125, ../sass/_main.scss */
div#initial-load {
  background: #f3f6f8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 88;
}

/* line 135, ../sass/_main.scss */
h3.project-title {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 1em;
  letter-spacing: 1.5px;
  font-weight: 100;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
  color: #696a6d;
}

/* line 145, ../sass/_main.scss */
table.team-member tr {
  height: 2.5em;
}
/* line 148, ../sass/_main.scss */
table.team-member tr td {
  padding-left: 1em;
  padding-right: 1.5em;
}
/* line 152, ../sass/_main.scss */
table.team-member tr td strong {
  font-weight: 500;
}
/* line 159, ../sass/_main.scss */
table.team-member tr td a {
  font-weight: 100;
  text-decoration: none;
  color: #2070f7;
}

/* line 167, ../sass/_main.scss */
#invitations form {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* line 172, ../sass/_main.scss */
#invitations form input {
  width: 16em;
}
/* line 176, ../sass/_main.scss */
#invitations form span {
  padding: 1em;
  font-size: 1.2em;
  position: relative;
  top: -2px;
}
/* line 183, ../sass/_main.scss */
#invitations form button {
  width: 15em;
}

/* line 188, ../sass/_main.scss */
span.high-prio {
  background: linear-gradient(90deg, #ffb5b5, #ff9c9c);
}

/* line 192, ../sass/_main.scss */
span.in-progress {
  background: linear-gradient(90deg, #b7d2ff, #a3c5ff);
}

/* line 196, ../sass/_main.scss */
#not-in-progress-warning {
  display: none;
}

/* line 5, ../sass/_undecided.scss */
section#content-main p.warning {
  padding: 1.2em;
  background: linear-gradient(95deg, #2070f7, #5d99ff);
  color: #f3f6f8;
  margin-top: 1em;
  font-weight: 100 !important;
  margin-bottom: 1em;
}
/* line 13, ../sass/_undecided.scss */
section#content-main p.warning a, section#content-main p.warning a:link, section#content-main p.warning a:active, section#content-main p.warning a:visited {
  color: #f5fcff;
}
/* line 17, ../sass/_undecided.scss */
section#content-main p.warning a:hover {
  color: #dedede;
}

/* line 22, ../sass/_undecided.scss */
div.undecided-option {
  display: inline-block;
  width: 30%;
  margin-right: 0.5em;
  float: left;
}
/* line 28, ../sass/_undecided.scss */
div.undecided-option strong {
  font-weight: 400;
}
/* line 32, ../sass/_undecided.scss */
div.undecided-option div.undecided-group {
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 1em;
  background: white;
  min-height: 13em;
  min-width: 200px;
  position: relative;
  margin-top: 0.5em;
}
/* line 42, ../sass/_undecided.scss */
div.undecided-option div.undecided-group h2 {
  font-weight: 400;
}
/* line 46, ../sass/_undecided.scss */
div.undecided-option div.undecided-group p:last-child {
  padding-bottom: 3em;
}
/* line 50, ../sass/_undecided.scss */
div.undecided-option div.undecided-group button {
  width: 90%;
  margin: 2em 0 0 0;
  position: absolute;
  bottom: 1em;
  text-align: center;
}
/* line 58, ../sass/_undecided.scss */
div.undecided-option div.undecided-group button.critical {
  background: #961919;
  border: 2px solid #6d1212;
}
/* line 63, ../sass/_undecided.scss */
div.undecided-option div.undecided-group button.critical:hover {
  background: #c33c3c;
}

@media (max-width: 1630px) {
  /* line 70, ../sass/_undecided.scss */
  section.undecided-group {
    padding-left: 0 !important;
  }

  /* line 74, ../sass/_undecided.scss */
  div.undecided-option {
    display: block;
    width: auto;
    margin-right: 0.5em;
    margin-bottom: 1em;
    float: none;
  }
  /* line 81, ../sass/_undecided.scss */
  div.undecided-option div.undecided-group {
    min-height: 10em;
  }
  /* line 85, ../sass/_undecided.scss */
  div.undecided-option p:last-child {
    padding-bottom: 0em;
  }
}
/* line 1, ../sass/_standup.scss */
.stat {
  display: block;
  float: left;
  margin-bottom: 2em;
  width: 200px;
  margin-right: 1em;
  background: #fefefe;
  padding: 0.75em 0em 0.75em 0.75em;
  border-radius: 4px;
}
/* line 11, ../sass/_standup.scss */
.stat .stat-top {
  padding-bottom: 1em;
}
/* line 14, ../sass/_standup.scss */
.stat .stat-top span.stat-number {
  font-size: 2.35em;
  color: #4e5369;
  line-height: 1em;
}
/* line 19, ../sass/_standup.scss */
.stat .stat-top span.stat-percentage {
  font-size: 1.80em;
  vertical-align: top;
  line-height: 1em;
  color: #4e5369;
}
/* line 25, ../sass/_standup.scss */
.stat .stat-top span.stat-title {
  font-weight: 500;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #2070f7;
}
/* line 35, ../sass/_standup.scss */
.stat .stat-bottom span.stat-detail {
  font-weight: 500;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #4e5369;
}

/* line 44, ../sass/_standup.scss */
#statistics {
  padding-top: 0;
}

/* line 50, ../sass/_standup.scss */
#team-progress h2, #team-progress h3 {
  clear: both;
}
/* line 54, ../sass/_standup.scss */
#team-progress h3 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #212121;
  padding: 0.5em;
  padding-left: 0.75em;
  margin-top: 0.5em;
  font-size: 1.1em;
  font-weight: 500;
}
/* line 64, ../sass/_standup.scss */
#team-progress h3 i {
  text-align: left;
}
/* line 70, ../sass/_standup.scss */
#team-progress div section.daily-issue:last-child {
  margin-bottom: 1em;
}

/* line 76, ../sass/_standup.scss */
section.daily-issue, section.changelog-issue {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 5.5em;
  padding: 0.7em;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0.55em 0.95em 0.45em 0em;
  font-size: 0.9em;
  border: 2px solid #ffffff;
}
/* line 87, ../sass/_standup.scss */
section.daily-issue h4, section.changelog-issue h4 {
  font-weight: 500;
}
/* line 90, ../sass/_standup.scss */
section.daily-issue h4 a, section.daily-issue h4 a:link, section.daily-issue h4 a:active, section.daily-issue h4 a:visited, section.changelog-issue h4 a, section.changelog-issue h4 a:link, section.changelog-issue h4 a:active, section.changelog-issue h4 a:visited {
  color: #1b1e2b;
  text-decoration: none;
}
/* line 95, ../sass/_standup.scss */
section.daily-issue h4 a:hover, section.changelog-issue h4 a:hover {
  color: #2070f7;
  text-decoration: none;
}
/* line 100, ../sass/_standup.scss */
section.daily-issue h4 span.mine, section.changelog-issue h4 span.mine {
  color: #fb0764;
}

/* line 4, ../sass/_search.scss */
section#search-bar form {
  padding-top: 0em;
}
/* line 8, ../sass/_search.scss */
section#search-bar button span {
  top: 0em;
  left: -0.15em;
}

/* line 3, ../sass/_timesheet.scss */
section.month-view {
  margin-right: 0;
  padding-right: 0;
  padding-top: 0;
}
/* line 8, ../sass/_timesheet.scss */
section.month-view h1 {
  margin-bottom: 0.25em;
  font-weight: 400;
  width: 3em;
}
/* line 14, ../sass/_timesheet.scss */
section.month-view h1.today {
  color: #004ed2;
}
/* line 18, ../sass/_timesheet.scss */
section.month-view table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 22, ../sass/_timesheet.scss */
section.month-view table tr.week-view td {
  vertical-align: top;
  background: white;
  border: 0.35em solid #f3f6f8;
}
/* line 28, ../sass/_timesheet.scss */
section.month-view table p {
  padding: 0;
  font-weight: 100;
}
/* line 33, ../sass/_timesheet.scss */
section.month-view table section.inactive {
  opacity: 0.5;
  border: none !important;
}
/* line 38, ../sass/_timesheet.scss */
section.month-view table section.day-view {
  width: 13em;
  padding: 0.75em;
  display: inline-block;
  border: 1px solid #dbe8fe;
}
/* line 44, ../sass/_timesheet.scss */
section.month-view table section.day-view h2 {
  margin-bottom: 0.55em;
}
/* line 47, ../sass/_timesheet.scss */
section.month-view table section.day-view h2 span.total-time {
  float: right;
  margin-right: 0.75em;
  background-color: #4e5369;
  padding: 0.25em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  color: white;
  position: relative;
  top: -0.10em;
}
/* line 60, ../sass/_timesheet.scss */
section.month-view table section.day-view h4 {
  padding-bottom: 0.5em;
}
/* line 63, ../sass/_timesheet.scss */
section.month-view table section.day-view h4 a, section.month-view table section.day-view h4 span.none {
  color: #0d0e13;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
}
/* line 70, ../sass/_timesheet.scss */
section.month-view table section.day-view h4 a.none {
  opacity: 0.5;
}
/* line 74, ../sass/_timesheet.scss */
section.month-view table section.day-view h4 a:hover {
  color: #2070f7;
  text-decoration: underline;
}
/* line 79, ../sass/_timesheet.scss */
section.month-view table section.day-view h4 a.none:hover {
  color: #0d0e13;
  text-decoration: none;
  cursor: default;
}

/* line 3, ../sass/_forms.scss */
article form {
  padding-left: 0.5em;
  padding-top: 2em;
  font-weight: 300;
}
/* line 8, ../sass/_forms.scss */
article form label {
  display: block;
  padding: 0.5em;
  width: 90%;
  font-size: 0.9em;
  padding-bottom: 0.4em;
  padding-left: 0em;
  color: #565656;
  position: relative;
  top: 0.35em;
  font-weight: 500;
}
/* line 20, ../sass/_forms.scss */
article form label span.error {
  padding-left: 1em;
  font-weight: 300;
  color: red;
}
/* line 27, ../sass/_forms.scss */
article form input[type=text], article form textarea, article form select, article form option {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-border-radius: 10px 10px 2px 2px;
  -moz-border-radius: 10px 10px 2px 2px;
  -ms-border-radius: 10px 10px 2px 2px;
  border-radius: 10px 10px 2px 2px;
  outline: none;
  padding: 0.5em;
  width: 90%;
  margin-bottom: 0.3em;
  border-radius: 1px;
  border: 1px solid #fbfbfb;
  border-bottom: 1px solid #d9dae0;
  outline: none;
  line-height: 1.5em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  resize: none;
}
/* line 47, ../sass/_forms.scss */
article form input[type=text], article form textarea, article form select {
  background-color: #fbfbfb;
  font-size: 1.5em;
}
/* line 52, ../sass/_forms.scss */
article form option {
  color: #000000 !important;
}
/* line 56, ../sass/_forms.scss */
article form input[type=text]:focus, article form textarea:focus, article form select:focus {
  border-bottom: 1px solid #2070f7;
  color: #000000;
}
/* line 61, ../sass/_forms.scss */
article form button {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  height: 3em;
  width: 7em;
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
}
/* line 71, ../sass/_forms.scss */
article form div.button-group {
  display: block;
  margin-top: 1em;
}
/* line 75, ../sass/_forms.scss */
article form div.button-group button {
  margin: 0.5em;
}

/* line 81, ../sass/_forms.scss */
span.length-limiter {
  color: #ffffff;
  display: block;
  position: relative;
  top: -0.25em;
  font-weight: 500;
  background: #2070f7;
  border-radius: 8px 3px 8px 8px;
  text-align: center;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.21em;
  padding-bottom: 0;
  width: 1.5em;
  margin-top: 0.1em;
}

/* line 98, ../sass/_forms.scss */
#comment-box {
  margin-top: 1.3em;
  background-color: #ffffff;
  color: grey;
  outline: none;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-size: 0.85em !important;
  resize: vertical;
  border: 1px solid #e8ebec;
  padding: 0.5em;
  line-height: 1.3em;
  padding-top: 0.7em;
  padding-left: 0.8em;
  font-weight: 100;
  width: 90%;
  height: 6.5em;
}

/* line 116, ../sass/_forms.scss */
p.comment-text {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
  font-size: 0.85em !important;
  font-weight: 100;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 124, ../sass/_forms.scss */
section.comment {
  padding: 0.7em 1em 0.7em 1em;
  margin-bottom: 1em;
  width: 93%;
}
/* line 130, ../sass/_forms.scss */
section.comment p strong {
  font-weight: 500;
  color: #565656;
  font-size: 0.9em;
}

/* line 138, ../sass/_forms.scss */
#content-main .button-group button span {
  position: relative;
  top: 1px !important;
  left: -2px !important;
}

/* line 144, ../sass/_forms.scss */
#content-new-project {
  display: none;
}

/* line 3, ../sass/_overlay.scss */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 40;
}
/* line 12, ../sass/_overlay.scss */
#overlay #overlay-detail {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 24em;
  background-color: white;
  margin-left: 1.9em;
  margin-top: -0.5em;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 29, ../sass/_overlay.scss */
#overlay #overlay-detail .overlay-options {
  display: none;
}
/* line 33, ../sass/_overlay.scss */
#overlay #overlay-detail hr {
  border: 1px solid #ececec;
}
/* line 37, ../sass/_overlay.scss */
#overlay #overlay-detail p {
  padding-top: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.5em;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
/* line 48, ../sass/_overlay.scss */
#overlay #overlay-detail p span.overlay-span {
  width: 3.55em;
  display: inline-block;
  margin-right: 0.8em;
}
/* line 54, ../sass/_overlay.scss */
#overlay #overlay-detail p input {
  border: 0;
  height: 1.3em;
  border-bottom: 1px solid #9c9c9c;
  color: #3e3e3e;
  font-family: monospace;
  font-size: 1.3em;
  text-align: center;
  background-color: #e6e6e6;
  outline: 0;
}
/* line 66, ../sass/_overlay.scss */
#overlay #overlay-detail p input.assignee-text {
  width: 8.5em;
}
/* line 70, ../sass/_overlay.scss */
#overlay #overlay-detail p span.overlay-span-large {
  margin-right: 0.8em;
  color: grey;
}
/* line 75, ../sass/_overlay.scss */
#overlay #overlay-detail p span.overlay-span:last-child {
  margin-bottom: 0.8em;
}
/* line 79, ../sass/_overlay.scss */
#overlay #overlay-detail p a, #overlay #overlay-detail p a:link, #overlay #overlay-detail p a:visited, #overlay #overlay-detail p a:active {
  border: 0;
  height: 1.4em;
  border-bottom: 1px solid #9c9c9c;
  color: #84878e;
  font-family: monospace;
  font-size: 1.3em;
  text-align: center;
  width: 4.5em;
  cursor: pointer;
  border-style: dotted;
}
/* line 92, ../sass/_overlay.scss */
#overlay #overlay-detail p a:hover {
  border-bottom: 1px solid #4270da;
  color: #4270da;
}
/* line 98, ../sass/_overlay.scss */
#overlay #overlay-detail ul {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}
/* line 102, ../sass/_overlay.scss */
#overlay #overlay-detail ul li {
  margin: 0.2em;
  cursor: pointer;
  padding: 0.4em 0em 0.4em 0.4em;
  margin-right: 1em;
}
/* line 109, ../sass/_overlay.scss */
#overlay #overlay-detail ul li.active {
  background-color: #2070f7 !important;
  color: #ffffff;
}
/* line 114, ../sass/_overlay.scss */
#overlay #overlay-detail ul li.hover {
  background: #e6e6e6;
}
/* line 119, ../sass/_overlay.scss */
#overlay #overlay-detail span.changing {
  background: linear-gradient(90deg, gainsboro, #e4e4e4);
  padding: 2px 5px;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 128, ../sass/_overlay.scss */
#overlay #overlay-detail span.alert {
  background-color: #ffaaaa !important;
}
/* line 132, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group {
  background: #e6e6e6;
  padding-left: 0.5em;
  padding-top: 0.15em;
  margin-top: 0.7em;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}
/* line 140, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group button, #overlay #overlay-detail div.button-group button.altpath {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  height: 3em;
  width: 7em;
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #374058;
  background-color: #e6e6e6;
  border: none;
  font-weight: 500;
}
/* line 155, ../sass/_overlay.scss */
#overlay #overlay-detail div.button-group button:hover {
  background-color: #35394B;
  color: #fbfbfb;
}

/* line 163, ../sass/_overlay.scss */
#overlay-version, #overlay-assignee {
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

/* line 171, ../sass/_overlay.scss */
span.changeable {
  background-color: lightgray;
  padding: 2px 5px;
  cursor: pointer;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.4em;
}

/* line 181, ../sass/_overlay.scss */
span.changeable:hover {
  background-color: #ececec;
}

/* line 185, ../sass/_overlay.scss */
.milestone-details-col p span.changeable {
  margin-right: 0.3em;
}

/* line 3, ../sass/_login.scss */
#login-page {
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  background: #fafbfc;
}
/* line 8, ../sass/_login.scss */
#login-page .login-as {
  background: linear-gradient(to right, #2070f7, #4489ff);
  color: white;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
/* line 18, ../sass/_login.scss */
#login-page .login-as:hover {
  background: #2070f7;
}
/* line 22, ../sass/_login.scss */
#login-page p {
  margin-bottom: 10px;
  color: grey;
}
/* line 27, ../sass/_login.scss */
#login-page .alert.alert-error {
  background: linear-gradient(to right, #f72020, #ff4444);
  color: white;
  padding: 10px;
  margin-top: 20px;
}
/* line 34, ../sass/_login.scss */
#login-page .alert.alert-success {
  background: linear-gradient(to right, #00b936, #43e027);
  color: white;
  padding: 10px;
  margin-top: 20px;
}
/* line 41, ../sass/_login.scss */
#login-page #login-form {
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
/* line 52, ../sass/_login.scss */
#login-page #login-form legend {
  font-size: 2.35em;
  color: #4e5369;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 10px;
}
/* line 61, ../sass/_login.scss */
#login-page #login-form label {
  display: none;
}
/* line 65, ../sass/_login.scss */
#login-page #login-form input {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  background-color: #fbfbfb;
  font-size: 1.5em;
  border-radius: 1px;
  border: 1px solid #fbfbfb;
  border-bottom: 1px solid #d9dae0;
  outline: none;
  line-height: 1.5em;
}
/* line 82, ../sass/_login.scss */
#login-page #login-form .form-actions {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* line 87, ../sass/_login.scss */
#login-page #login-form .form-actions button {
  width: 100px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", Times New Roman, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;
}
/* line 99, ../sass/_login.scss */
#login-page #login-form #email {
  position: absolute;
  left: 105%;
}
