<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div id="overlay" th:fragment="overlay-edits">
		<div id="overlay-detail">
			<p><span></span>: <span class="changing"></span></p>
			<hr/>

			<ul id="overlay-progress" class="overlay-options">
				<li th:each="progressState : ${progressStates}" th:text="${progressState.text}" th:data-value="${progressState}">New, Backlog, In Progress, ...</li>
			</ul>
			
			<ul id="overlay-impact" class="overlay-options">
				<li th:each="impactState : ${impactStates}" th:text="${impactState.text}" th:data-value="${impactState}">High impact, Low impact, ...</li>
			</ul>
			
			<ul id="overlay-urgency" class="overlay-options">
				<li th:each="urgencyState : ${urgencyStates}" th:text="${urgencyState.text}" th:data-value="${urgencyState}">High priority, Low urgency, ...</li>
			</ul>
			
			
			<div class="button-group">
				<button id="edit-changer-submit" type="button">Change</button>
				<button type="button" class="altpath">Cancel</button>
			</div>
		</div>
	</div>
	
	<aside th:fragment="issue-list" th:classappend="${showCreatePage}?invisible">
		<section th:each="issue : ${issueList}" th:issue-id="${issue.id}" th:classappend="${currentIssueId == issue.id}?active">
			<h1 th:text="${issue.title}"></h1>
			<p th:text="${issue.shortDescr}"></p>
			<div th:id="${'progress-' + issue.id}" class="progress"></div>
		</section>
	</aside>
	
	<article id="main" th:fragment="main-article" th:classappend="${showCreatePage}?invisible">
		<section id="content-userinfo">
			<h1 th:text="${currentIssueTitle}"></h1>
			<h2><span class="changeable" data-status="Current status" id="change-progress" th:text="${currentIssueProgress}"></span> - assigned to <span class="changeable" data-status="Current assignee" id="change-assignee">you</span></h2>
			
			<div id="content-userinfo-details">
				<div class="userinfo-details-col">
					<p>Created by <span th:text="${currentIssueCreator}"></span></p>
					<p>on <span th:text="${currentIssueCreateDate}"></span></p>
				</div>			
				<div class="userinfo-details-col">
					<p><span class="changeable" data-status="Current impact" id="change-impact" th:text="${currentIssueImpact}"></span></p>
					<p><span class="changeable" data-status="Current urgency" id="change-urgency" th:text="${currentIssueUrgency}"></span></p>
				</div>
				<div class="userinfo-details-col">
					<p><span class="changeable" data-status="Current fix version" id="change-fix" th:text="${currentIssueFixVersion}"></span></p>
					<p th:text="${currentIssueSLAStatus}"></p>
				</div>
			</div>
			
			<div id="content-userinfo-attachments">
				<p><i class="fa fa-paperclip" aria-hidden="true"></i> Attachments</p>
			</div>
			
		</section>

		<section id="content-main">
			<p class="content" th:text="${currentIssueDescription}"></p>
			
			<textarea id="comment-box"></textarea>
			
			<div class="button-group">
				<button id="send-comment" style="margin-right: 0;" type="button"><span><i class="fa fa-paper-plane" aria-hidden="true"></i> Send message</span></button>
				<button type="button" class="altpath"><span><i class="fa fa-comment-o" aria-hidden="true"></i> Canned responses</span></button>
			</div>
			
			<div id="comments">
				<section th:each="comment : ${comments}" class="comment">
					<p><strong><span th:text="${comment.username}">Kevin Deyne</span> at <span th:text="${comment.date}">21 November 2017, 20:05</span></strong></p>
					<p th:text="${comment.text}">Comment text.</p>
				</section>
			</div>
			
		</section>
	</article>

</body>
</html>
