<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div id="overlay" th:fragment="overlay-edits">
		<div id="overlay-detail">
			<p><span></span>: <span class="changing"></span></p>
			<hr/>

			<ul id="overlay-progress" class="overlay-options">
				<li th:each="progressState : ${progressStates}" th:text="${progressState.text}" th:data-value="${progressState}">New, Backlog, In Progress, ...</li>
			</ul>
			
			<ul id="overlay-impact" class="overlay-options">
				<li th:each="impactState : ${impactStates}" th:text="${impactState.text}" th:data-value="${impactState}">High impact, Low impact, ...</li>
			</ul>
			
			<ul id="overlay-urgency" class="overlay-options">
				<li th:each="urgencyState : ${urgencyStates}" th:text="${urgencyState.text}" th:data-value="${urgencyState}">High priority, Low urgency, ...</li>
			</ul>
			
			<ul id="overlay-workload" class="overlay-options">
				<li th:each="workloadState : ${workloadStates}" th:text="${workloadState.text}" th:data-value="${workloadState}">High, Low workload, ...</li>
			</ul>
			
			<div id="overlay-version">
				<p><span class="overlay-span">Branch: </span><span class="changing">Trunk</span></p>
				<p><span class="overlay-span">Version: </span><input type="text"></p>
			</div>
			
			<div id="overlay-assignee">
				This is the assignee stuff.
			</div>
						
			<div class="button-group">
				<button id="edit-changer-submit" type="button">Change</button>
				<button type="button" class="altpath">Cancel</button>
			</div>
		</div>
	</div>
	
	<aside th:fragment="issue-list" th:classappend="${showCreatePage}?invisible">
		
		<div id="aside-options">
			<a href="#" id="aside-issue" class="t-active">My issues <span id="my-issues-counter" th:text="${myissuecounter}"></span></a> <a href="#" id="aside-team">In team <span id="sprint-counter" th:text="${sprintcounter}"></span></a> <a href="#" id="aside-backlog">Backlog <span id="backlog-counter"  th:text="${backlogcounter}"></span></a>
		</div>
		<div id="aside-loader"><img src="/icons/spinner_color.gif" /></div>
		<div id="aside-issue-list">
			<section th:each="issue : ${issueList}" th:issue-id="${issue.id}" th:importance="${issue.importance}" th:classappend="${currentIssueId == issue.id}?active">
				<i class="fa fa-circle" th:classappend="${issue.clazz}" aria-hidden="true"></i>
				<h1><span th:text="${issue.title}"></span></h1>
				<p th:utext="${issue.shortDescr}"></p>
				<div th:id="${'progress-' + issue.id}" class="progress"></div>
			</section>
		</div>
		
		<div id="aside-team-list"></div>
		<div id="aside-backlog-list"></div>
	</aside>
	
	<article id="main" th:fragment="main-article" th:classappend="${showCreatePage}?invisible">
		<section id="content-userinfo">
			<h3 th:text="${currentProjectTitle}" class="project-title"></h3>
			<h1 th:text="${currentIssueTitle}"></h1>
			<h2><span class="changeable" data-status="Current status" id="change-progress" th:text="${currentIssueProgress}"></span> - assigned to <span class="changeable" data-status="Current assignee" id="change-assignee">you</span></h2>
			
			<div id="content-userinfo-details">
				<div class="userinfo-details-col">
					<p>Created by <span id="issue-creator" th:text="${currentIssueCreator}"></span></p>
					<p>on <span id="issue-create-date" th:text="${currentIssueCreateDate}"></span></p>
				</div>			
				<div class="userinfo-details-col">
					<p><span class="changeable" data-status="Current impact" id="change-impact" th:text="${currentIssueImpact}"></span></p>
					<p><span class="changeable" data-status="Current urgency" id="change-urgency" th:text="${currentIssueUrgency}"></span></p>
				</div>
				<div class="milestone-details-col">
					<p>
						<span th:each="version, iterStat : ${versions}" data-status="Current fix version" class="changeable" th:id="${'change-version-' + iterStat.index}" th:text="${version}">No current version</span>
					</p>
					<p th:text="${currentIssueSLAStatus}"></p>
				</div>
			</div>
			
			<div id="content-userinfo-attachments">
				<p><i class="fa fa-paperclip" aria-hidden="true"></i> Attachments</p>
			</div>
			
		</section>

		<section id="content-main">
			<p class="content" th:utext="${currentIssueDescription}"></p>
			
			<p id="not-in-progress-warning" class="warning"><i class="fa fa-hourglass-start" aria-hidden="true"></i> You are currently viewing this issue without tracking it. Would you like to <a href="#" id="start-tracking-button">start tracking</a> your progress now?</p>
						
			<textarea id="comment-box"></textarea>
			
			<div class="button-group">
				<button id="send-comment" style="margin-right: 0;" type="button"><span><i class="fa fa-paper-plane" aria-hidden="true"></i> Send message</span></button>
				<button type="button" class="altpath"><span><i class="fa fa-comment-o" aria-hidden="true"></i> Canned responses</span></button>
			</div>
			
			<div id="comments">
				<section th:each="comment : ${comments}" class="comment">
					<p th:comment-id="${comment.id}"><strong><span th:text="${comment.username}">Kevin Deyne</span> at <span th:text="${comment.date}">21 November 2017, 20:05</span></strong></p>
					<p class="comment-text" th:text="${comment.text}">Comment text.</p>
				</section>
			</div>
			
			<div th:replace="fragments/issue :: undecided-info">Undecided options</div>
			
		</section>
	</article>
	
	<div th:fragment="undecided-info" id="undecided-info">
		<p class="warning"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> This issue is new and not yet part of any sprint. Please take a moment to decide what should be done with it.</p>
				
		<section class="undecided-group">
			<div class="undecided-option">
				<strong>Option 1:</strong>
				<div class="undecided-group">
					<h2>Plan issue</h2>
					<p>Move issue to backlog and plan it for the next sprint</p>
					<p>Anticipated workload: <span class="changeable" data-status="Anticipated workload" id="change-workload">Normal</span></p>
					<button id="ud-plan"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <span>plan for next sprint</span></button>
				</div>					
			</div>				
			<div class="undecided-option">
				<strong>Option 2:</strong>
				<div class="undecided-group">
					<h2>Not enough info</h2>
					<p>If you do not have enough information to process this issue, mark it and we will request additional info from the sender.</p>
					<button id="ud-feedback"><i class="fa fa-question-circle" aria-hidden="true"></i> <span>Request additional info</span></button>
				</div>		
			</div>				
			<div class="undecided-option">
				<strong>Option 3:</strong>
				<div class="undecided-group">
					<h2>Critical issue</h2>
					<p>If this is a critical issue, we can elevate the urgency of the status, plan it in the current spring and start progress on it right away.</p>
					<button id="ud-critical" class="critical"><i class="fa fa-bolt" aria-hidden="true"></i> <span>Start progress now</span></button>
				</div>
			</div>
		</section>
	</div>

</body>
</html>
