<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<article id="content-new-issue" th:fragment="content-article" th:classappend="${showCreatePage}?visible">
		<section id="content-new-issue-title">
			<h1>Creating a new issue</h1>
		</section>

		<section id="content-new-issue-main">
			<p>This is an example explaining all the options here</p>

			<form>
				<label for="title">Title</label> <input type="text" id="title" name="title" placeholder="Provide a brief title describing your issue" maxlength="65">
				<span class="length-limiter" linked-with="title" max-length="65">65</span>

				<label for="description">Description</label>
				<textarea id="description" name="description" placeholder="Describe your problem and provide info on how to reproduce it"></textarea>
				
				<label for="project">Project</label> 
				<select id="project" name="project">
					<option value="taskrdev">Taskr.io DEV</option>
					<option value="taskrtst">Taskr.io TST</option>
					<option value="kbi">Kruispuntbank Inburgering</option>
				</select>

				<div class="button-group">
					<button id="create-issue-submit" type="button">Submit</button>
					<button type="button" class="altpath">Cancel</button>
				</div>
			</form>
		</section>
	</article>

</body>
</html>
