<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<article id="main" th:fragment="main-article">
		<section>
			<h1>Projects</h1>
			<h2>Manage your different projects here</h2>
		</section>
		
		<section>
			<h2>Currently active project: <span id="change-project" data-status="Current project" class="changeable" th:text="${currentProject.title}" th:data-value="${currentProject.id}"></span></h2>
			<p>This determines which issues you will be actively following up. Only one project can be active at a time; but switching is instant.</p>
		</section>
		
		<section id="invitations">
			<h2>Invitations</h2>
			
			<form>
				<input type="text"></input> 
				<span class="changeable">Tester</span> 
				<button>Send invite</button> 
			</form>
			
			<table class="team-member">	
				<tbody><tr>
					<td><strong>Joseph Kennedey</strong></td>
					<td><span class="changeable">Team leader</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
				<tr>
					<td><strong>Jeanette Schneider</strong></td>
					<td><span class="changeable">Tester</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
			
			</tbody></table>
			
		</section>
		
		<section id="team-members">
			<h2>Team members</h2>
			<table class="team-member">	
				<tr>
					<td><strong>Joseph Kennedey</strong></td>
					<td><span class="changeable">Team leader</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
				<tr>
					<td><strong>Jeanette Schneider</strong></td>
					<td><span class="changeable">Tester</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
				<tr>
					<td><strong>Brandon Mack</strong></td>
					<td><span class="changeable">Developer</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
				<tr>
					<td><strong>Frank Malone</strong></td>
					<td><span class="changeable">Developer</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
				<tr>
					<td><strong>Titus Vangaerd</strong></td>
					<td><span class="changeable">Shareholder</span></td>
					<td><a href="#">Remove from project</a></td>
				</tr>
				
			</table>
		</section>
	</article>

</body>
</html>
