<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<article id="main" th:fragment="main-article" th:classappend="${showCreatePage}?invisible">
		<section>
			<h1>Projects</h1>
			<h2>Manage your different projects here</h2>
		</section>
		
		<section>
			<h2>Currently active project: <span id="change-project" data-status="Current project" class="changeable" th:text="${currentProject.title}" th:data-value="${currentProject.id}"></span></h2>
			<p>This determines which issues you will be actively following up. Only one project can be active at a time; but switching is instant.</p>
		</section>
		
		<section id="invitations">
			<h2>Invitations</h2>
			
			<form>
				<input id="invite-email" type="text" placeholder="Email address" />
				<span id="change-usertype" data-status="Usertype" class="changeable" data-value="developer">Developer</span>
				<button id="send-invite">Send invite</button>
			</form>
			
			<table id="invite-members" class="team-member">
				<tbody>
					<tr th:each="invite : ${invites}">
						<td><strong th:text="${invite.name}">Joseph Kennedey</strong></td>
						<td><span class="changeable" th:text="${invite.role}">Team leader</span></td>
						<td><a th:href="${'#' + invite.id}">Remove from project</a></td>
					</tr>
				</tbody>
			</table>
			
		</section>
		
		<section id="team-members">
			<h2>Team members</h2>
			<table class="team-member">	
				<tbody>
					<tr th:each="teammember : ${teammembers}">
						<td><strong th:text="${teammember.name}">Joseph Kennedey</strong></td>
						<td><span class="changeable" th:text="${teammember.role}">Team leader</span></td>
						<td><a th:href="${'#' + teammember.id}">Remove from project</a></td>
					</tr>
				</tbody>
			</table>
		</section>
	</article>

</body>
</html>
