<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<article id="main" th:fragment="main-article">
		<section>
			<h1>Sprint info</h1>
			<h2>Good work, everyone! This shows the progress you and your
				team made every day.</h2>
		</section>
		
		<section>

		</section>
		
		<section id="team-progress">
			<h2>Team progress</h2>
			
			<h3><i class="fa fa-question-circle" aria-hidden="true"></i> Help requested</h3>
			<div>
				<section th:each="issue : ${issueList1}" th:issue-id="${issue.id}" class="daily-issue help">
					<h4><a th:text="${issue.title}" href="#"></a></h4>
					<p th:text="${issue.shortDescr}"></p>
				</section>
			</div>

			<h3><i class="fa fa-cogs" aria-hidden="true"></i> In progress</h3>
			<div>
				<section th:each="issue : ${issueList2}" th:issue-id="${issue.id}" class="daily-issue inprogress">
					<h4><a th:text="${issue.title}" href="#"></a></h4>
					<p th:text="${issue.shortDescr}"></p>
				</section>
			</div>

			<h3><i class="fa fa-check" aria-hidden="true"></i> Finished</h3>
			<div>
				<section th:each="issue : ${issueList3}" th:issue-id="${issue.id}" class="daily-issue finished">
					<h4><a th:text="${issue.title}" href="#"></a></h4>
					<p th:text="${issue.shortDescr}"></p>
				</section>
			</div>
		</section>
	</article>

</body>
</html>
