<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
		<nav th:fragment="navigation">
			<button id="new-issue">
			
			<i class="fa fa-plus-square" aria-hidden="true"></i> <span>New issue</span></button>
			<a href="/search" th:classappend="${activePage == 'search'}?active"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></a>
			<a href="/daily" th:classappend="${activePage == 'sprint'}?active"><i class="fa fa-bolt" aria-hidden="true"></i> <span>Sprint</span></a>
			<a href="/timesheet" th:classappend="${activePage == 'timesheet'}?active"><i class="fa fa-bar-chart" aria-hidden="true"></i> <span>Timesheet</span></a>			
			<a id="taskurl" href="/tasks" th:classappend="${activePage == 'tasks'}?active"><i class="fa fa-tasks" aria-hidden="true"></i> <span>Tasks</span></a>
			<a href="/project" th:classappend="${activePage == 'project'}?active"><i class="fa fa-area-chart" aria-hidden="true"></i> <span>Projects</span></a>
			<a href="/settings" th:classappend="${activePage == 'settings'}?active"><i class="fa fa-cog" aria-hidden="true"></i> <span>Settings</span></a>
			<a href="/messages" th:classappend="${activePage == 'messages'}?active"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span>Messages</span></a>		
			<a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span></a>
			
			<section id="nav-bottom">
				<div id="tracker" th:classappend="${#lists.isEmpty(inProgressIssueList)}?invisible">
					<p><i class="fa fa-play-circle" aria-hidden="true"></i> Now tracking: </p>
					<p class="tracking-data" th:each="inProgressIssue : ${inProgressIssueList}">
						<a th:href="${'/tasks/' + inProgressIssue.id}"><span th:entity-id="${inProgressIssue.id}" th:text="${inProgressIssue.title}"></span></a>
					</section>
				</div>
			</section>
			
			<div id="initial-load"></div>
		</nav>
  
		<th:block th:fragment="meta">
			<meta charset="UTF-8" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			 
			<meta name="_csrf" th:content="${_csrf.token}"/>
			<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
			 
			<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
			<link rel="manifest" href="/icons/manifest.json">
			<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#2070f7">
			<link rel="shortcut icon" href="/icons/favicon.ico">
			<meta name="msapplication-config" content="/icons/browserconfig.xml">
			<meta name="theme-color" content="#f3f6f8">

			<link href="https://fonts.googleapis.com/css?family=Roboto:300,500|Cutive+Mono" rel="stylesheet" type="text/css" />
			<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="/stylesheets/simple-scrollbar.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
		</th:block>
		
		<th:block th:fragment="meta-shareholder">
			<meta charset="UTF-8" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			 
			<meta name="_csrf" th:content="${_csrf.token}"/>
			<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
			 
			<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
			<link rel="manifest" href="/icons/manifest.json">
			<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#2070f7">
			<link rel="shortcut icon" href="/icons/favicon.ico">
			<meta name="msapplication-config" content="/icons/browserconfig.xml">
			<meta name="theme-color" content="#f3f6f8">
			 
			<link href="/stylesheets/shareholder.css" media="screen, projection" rel="stylesheet" type="text/css" />
			<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
		</th:block>
 
  </body>
</html>	