<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<article id="main" th:fragment="main-article">
		<section>
			<h1>Timesheet</h1>
			<h2>Manage your different projects here</h2>
		</section>
		
		<section>
			<h2>Currently active project: <span class="changeable">Kruispuntbank Inburgering (KBI)</span></h2>
			<p>This determines which issues you will be actively following up. Only one project can be active at a time; but switching is instant.</p>
		</section>
		
		<section id="team-progress">
			<h2>Invitations</h2>
			<section>
				No open invitations
			</section>
		</section>
	</article>

</body>
</html>
