<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<title>RelayAI - AI-assisted task management</title>
	<!-- Stylesheets -->
	<link href="landing/css/bootstrap.css" rel="stylesheet">
	<link href="landing/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="landing/images/favicon.png" type="image/x-icon">
	<link rel="icon" href="landing/images/favicon.png" type="image/x-icon">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="landing/css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="landing/js/respond.js"></script><![endif]-->
</head>
<body>
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	<!-- Main Header-->
	<header class="main-header">

		<!-- Main Box -->
		<div class="main-box">
			<div class="auto-container">
				<div class="outer-container clearfix">
					<!--Logo Box-->
					<div class="logo-box">
						<div class="logo"><a href="index.html"><img src="landing/images/relay.gif" alt="Relay AI"></a></div>
					</div>

					<!--Nav Outer-->
					<div class="nav-outer clearfix">
						<!-- Main Menu -->
						<nav class="main-menu">

							<div class="navbar-header">
								<!-- Toggle Button -->
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="navbar-collapse collapse scroll-nav clearfix">
								<ul class="navigation clearfix">
									<li class="dropdown current"><a href="index.html#banner">Home</a></li>
									<li><a href="index.html#products">Features</a></li>
									<li><a href="index.html#features">Pricing</a></li>
									<li><a href="index.html#inventory">Technical details</a></li>
									<li><a href="index.html#contact">Contact</a></li>
								</ul>
							</div>

						</nav>
						<!-- Main Menu End-->

						<!--Other Links-->
						<div class="other-links">
							<a href="#" class="theme-btn btn-style-one">SIGN IN</a>
						</div>

					</div>
					<!--Nav Outer End-->

				</div>
			</div>
		</div>

	</header>
	<!--End Main Header -->


	<!--Main Banner / Banner One-->
	<section class="main-banner banner-one" id="banner" style="background-image:url(landing/images/background/banner-bg-1.png);">
		<div class="auto-container">
			<div class="row clearfix">
				<!--Text Column-->
				<div class="text-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<h4>AI-assisted workflows for developers and shareholders</h4>
						<h2>Bring your team into a new era of productivity with RelayAI</h2>
						<p>Along with learning the expertise of team members and assigning relevant tasks to the right people, Relay AI takes into account everyone's workload to plan tasks, easily tracks time spent on projects, and simplifies things like: sprint planning, daily standup meetings, meeting SLA standards, and following up on replies.</p>
						<a href="#" class="theme-btn btn-style-two">Preview our alpha version <span class="icon ti-arrow-circle-right"></span></a>
					</div>
				</div>

				<!--Image Column-->
				<div class="image-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<figure class="image"><img src="landing/images/intro.png" alt=""></figure>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--End Main Banner-->


	<!--Products Section-->
	<section class="products-section" id="products">
		<div class="auto-container">
			<!--Heading-->
			<div class="sec-title">
				<div class="icon"><figure class="image"><img src="images/icons/icon-1.png" alt=""></figure></div>
				<h2>Your e-commerce service is precious we know that, <br>So we make this app like this.</h2>
				<div class="desc-text">Sulation is an easy to use tool for eCommerce. With the help of our <br>system you can present your products. It is all very easy!</div>
			</div>

			<!--Services-->
			<div class="services-outer clearfix">
				<!--Service Style One-->
				<div class="service-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="icon"><figure class="image"><img src="images/icons/icon-2.png" alt=""></figure></div>
						<h3><a href="#">Analytics</a></h3>
						<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						<div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
					</div>
				</div>

				<!--Service Style One-->
				<div class="service-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="icon"><figure class="image"><img src="images/icons/icon-3.png" alt=""></figure></div>
						<h3><a href="#">Ecommerce</a></h3>
						<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						<div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
					</div>
				</div>

				<!--Service Style One-->
				<div class="service-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="icon"><figure class="image"><img src="images/icons/icon-4.png" alt=""></figure></div>
						<h3><a href="#">Payment</a></h3>
						<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						<div class="link-box"><a href="#">See more <span class="icon ti-arrow-circle-right"></span></a></div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!--Features Section-->
	<section class="features-section" id="features">
		<div class="auto-container">
			<!--Heading-->
			<div class="sec-title centered">
				<div class="icon"><figure class="image"><img src="images/icons/icon-5.png" alt=""></figure></div>
				<h2>Point of Sale Software</h2>
				<div class="desc-text">Sulation is an easy to use tool for eCommerce. <br>You can present your products.</div>
			</div>

			<div class="row clearfix">
				<!--Features Column-->
				<div class="features-column col-md-4 col-sm-12 col-xs-12">
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-6.png" alt=""></figure></div>
							<h3><a href="#">Easy to setup, Easy to use</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-7.png" alt=""></figure></div>
							<h3><a href="#">Keep your money</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-8.png" alt=""></figure></div>
							<h3><a href="#">Customize your hardware</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
				</div>

				<!--Carousel Column-->
				<div class="carousel-column col-md-8 col-sm-12 col-xs-12">
					<div class="inner">
						<ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
							<li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
							<li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
							<li><a href="images/resource/featured-image-1.jpg" data-fancybox="gallery-one" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-1.jpg" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>


	<!--Features Section-->
	<section class="features-section alternate">
		<div class="auto-container">
			<!--Heading-->
			<div class="sec-title centered">
				<div class="icon"><figure class="image"><img src="images/icons/icon-9.png" alt=""></figure></div>
				<h2>Customer Management & Loyalty</h2>
				<div class="desc-text">Solution is an easy to use tool for eCommerce. <br>You can present your products.</div>
			</div>

			<div class="row clearfix">
				<!--Features Column-->
				<div class="features-column col-md-4 col-sm-12 col-xs-12">
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-10.png" alt=""></figure></div>
							<h3><a href="#">Customers program</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-11.png" alt=""></figure></div>
							<h3><a href="#">Customers purhase history</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
					<!--Feature Block-->
					<div class="feature-block-one">
						<div class="inner-box">
							<div class="icon"><figure class="image"><img src="images/icons/icon-12.png" alt=""></figure></div>
							<h3><a href="#">Loyalty program</a></h3>
							<div class="text">Solution is an easy to use tool all very easy! eCommerce. With the help of our system you can present.</div>
						</div>
					</div>
				</div>

				<!--Carousel Column-->
				<div class="carousel-column col-md-8 col-sm-12 col-xs-12">
					<div class="inner">
						<ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
							<li><a href="images/resource/featured-image-2.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-2.jpg" alt=""></a></li>
							<li><a href="images/resource/featured-image-2.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-2.jpg" alt=""></a></li>
							<li><a href="images/resource/featured-image-2.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-2.jpg" alt=""></a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>


	<!--Inventory Section-->
	<section class="inventory-section" id="inventory">
		<div class="auto-container">
			<!--Heading-->
			<div class="sec-title centered">
				<div class="icon"><figure class="image"><img src="images/icons/icon-13.png" alt=""></figure></div>
				<h2>Inventory Management</h2>
				<div class="desc-text">Solution is an easy to use tool for eCommerce. <br>You can present your products.</div>
			</div>

			<div class="content-box">
				<div class="inventory-tabs">
					<ul class="tab-buttons clearfix">
						<li class="tab-btn active-btn" data-tab="#tab-one">All Product</li>
						<li class="tab-btn" data-tab="#tab-two">Active Product</li>
						<li class="tab-btn" data-tab="#tab-three">Inactive Product</li>
					</ul>
					<div class="tabs-content">
						<!--Tab / Active tab-->
						<div class="tab active-tab" id="tab-one">
							<ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
							</ul>
						</div>

						<!--Tab-->
						<div class="tab" id="tab-two">
							<ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
							</ul>
						</div>

						<!--Tab-->
						<div class="tab" id="tab-three">
							<ul class="image-carousel-one single-item-carousel owl-theme owl-carousel">
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
								<li><a href="images/resource/featured-image-3.jpg" data-fancybox="gallery-two" class="lightbox-image" title="Image Caption"><img src="images/resource/featured-image-3.jpg" alt=""></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>

		</div>
	</section>


	<!--Blog Section-->
	<section class="blog-section">
		<div class="auto-container">
			<!--Heading-->
			<div class="sec-title-two centered">
				<h2>Recent Blog</h2>
				<div class="desc-text">Solution is an easy to use tool for eCommerce. <br>You can present your products.</div>
			</div>

			<div class="row clearfix">

				<!--News Block-->
				<div class="news-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-1.jpg" alt=""></a></figure>
						<div class="lower-content">
							<div class="post-meta">26 March 2017 By Author</div>
							<h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
							<div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
						</div>
					</div>
				</div>

				<!--News Block-->
				<div class="news-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-2.jpg" alt=""></a></figure>
						<div class="lower-content">
							<div class="post-meta">26 March 2017 By Author</div>
							<h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
							<div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
						</div>
					</div>
				</div>

				<!--News Block-->
				<div class="news-style-one col-md-4 col-sm-6 col-xs-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
						<figure class="image-box"><a href="blog-single.html"><img src="images/resource/blog-image-3.jpg" alt=""></a></figure>
						<div class="lower-content">
							<div class="post-meta">26 March 2017 By Author</div>
							<h3><a href="blog-single.html">Excepteur sint occaecat cupidatat</a></h3>
							<div class="text">Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</div>
						</div>
					</div>
				</div>

			</div>

			<div class="text-center wow tada" data-wow-delay="0ms" data-wow-duration="1500ms"><a href="blog.html" class="theme-btn btn-style-seven">Go To Blog</a></div>

		</div>
	</section>


	<!--Testimonials Section-->
	<section class="testimonials-section">
		<div class="auto-container">
			<div class="outer-container">
				<!--Testimonials-->
				<div class="testimonials-carousel-one single-item-carousel owl-theme owl-carousel">
					<!--Slide Item-->
					<div class="slide-item">
						<div class="row clearfix">
							<!--Text Column-->
							<div class="text-column col-md-7 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
								</div>
							</div>
							<!--Info Column-->
							<div class="info-column col-md-5 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="info">
										<figure class="thumb img-circle"><img class="img-circle" src="images/resource/author-thumb-1.jpg" alt=""></figure>
										<h4>Madison Warren</h4>
										<div class="designation">Product Designer at UI_Expert</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Slide Item-->
					<div class="slide-item">
						<div class="row clearfix">
							<!--Text Column-->
							<div class="text-column col-md-7 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
								</div>
							</div>
							<!--Info Column-->
							<div class="info-column col-md-5 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="info">
										<figure class="thumb img-circle"><img class="img-circle" src="images/resource/author-thumb-1.jpg" alt=""></figure>
										<h4>Madison Warren</h4>
										<div class="designation">Product Designer at UI_Expert</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Slide Item-->
					<div class="slide-item">
						<div class="row clearfix">
							<!--Text Column-->
							<div class="text-column col-md-7 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="text">“Start building your integration and accept your first payment in minutes. Stripe libraries are available in every language from Ruby.”</div>
								</div>
							</div>
							<!--Info Column-->
							<div class="info-column col-md-5 col-sm-12 col-xs-12">
								<div class="inner">
									<div class="info">
										<figure class="thumb img-circle"><img class="img-circle" src="images/resource/author-thumb-1.jpg" alt=""></figure>
										<h4>Madison Warren</h4>
										<div class="designation">Product Designer at UI_Expert</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--Contact Section-->
	<section class="contact-section" id="contact">
		<div class="auto-container">
			<div class="row clearfix">

				<!--Image Column-->
				<div class="image-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<figure class="image"><img src="images/resource/featured-image-4.png" alt=""></figure>
					</div>
				</div>

				<!--Form Column-->
				<div class="form-column col-md-6 col-sm-12 col-xs-12">
					<div class="sec-title">
						<h2>Create a Sulation.io account quick and with commitments.</h2>
						<div class="desc-text">Solution is an easy to use tool for eCommerce. With the help system you can present your products. It is all very easy!</div>
					</div>

					<!--Contact Form-->
					<div class="default-form contact-form">
						<form method="post" action="index.html">
							<div class="form-group">
								<input type="text" name="fieldname" value="" placeholder="Boutique Name" required>
							</div>

							<div class="form-group">
								<input type="text" name="fieldname" value="" placeholder="Boutique Owner’s Name" required>
							</div>

							<div class="form-group">
								<select name="field-name">
									<option>How many stores of you have?</option>
									<option>Two Stores</option>
									<option>Five Stores</option>
									<option>Twelve Stores</option>
								</select>
							</div>

							<div class="form-group">
								<input type="text" name="fieldname" value="" placeholder="Phone Number" required>
							</div>

							<div class="form-group">
								<input type="text" name="fieldname" value="" placeholder="Email Address" required>
							</div>

							<div class="form-group">
								<button type="submit" class="theme-btn btn-style-two">Submite form <span class="icon ti-arrow-circle-right"></span></button>
							</div>

						</form>
					</div><!--End Contact Form-->
				</div>
			</div>
		</div>
	</section>


	<!--Footer Style One-->
	<footer class="footer-style-one">
		<!--Footer Upper-->
		<div class="footer-upper">
			<div class="auto-container">
				<div class="row clearfix">
					<!--Big Column-->
					<div class="big-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
						<div class="footer-column">
							<div class="footer-widget about-widget">
								<div class="widget-inner">
									<div class="logo"><img src="images/footer-logo.png" alt=""></div>
									<div class="copyright">&copy; 2018 Solution.io</div>
								</div>
							</div>
						</div>
					</div>

					<!--Big Column-->
					<div class="big-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
						<div class="row clearfix">
							<!--Footer Column-->
							<div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="footer-widget links-widget">
									<div class="widget-inner">
										<h3>Company</h3>
										<div class="links">
											<ul>
												<li><a href="#">About us</a></li>
												<li><a href="#">Careers</a></li>
												<li><a href="#">Contact us </a></li>
												<li><a href="#">Customers</a></li>
												<li><a href="#">Career</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<!--Footer Column-->
							<div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="footer-widget links-widget">
									<div class="widget-inner">
										<h3>Resources</h3>
										<div class="links">
											<ul>
												<li><a href="#">Library</a></li>
												<li><a href="#">Support</a></li>
												<li><a href="#">Blog</a></li>
												<li><a href="#">Live webinars</a></li>
												<li><a href="#">API & Developers</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--Footer Column-->
							<div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="footer-widget links-widget">
									<div class="widget-inner">
										<h3>Solutions</h3>
										<div class="links">
											<ul>
												<li><a href="#">Consumer</a></li>
												<li><a href="#">Financial Services</a></li>
												<li><a href="#">Media & Entertainment</a></li>
												<li><a href="#">SaaS</a></li>
												<li><a href="#">Infrastructure</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!--Footer Column-->
							<div class="footer-column col-lg-3 col-md-3 col-sm-6 col-xs-12">
								<div class="footer-widget follow-widget">
									<div class="widget-inner">
										<h3>Follow</h3>
										<div class="social-links">
											<ul class="clearfix">
												<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
												<li><a href="#"><span class="fa fa-twitter"></span></a></li>
												<li><a href="#"><span class="fa fa-instagram"></span></a></li>
												<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
												<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>


</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-double-up"></span></div>


<script src="landing/js/jquery.js"></script>
<script src="landing/js/bootstrap.min.js"></script>
<script src="landing/js/pagenav.js"></script>
<script src="landing/js/jquery.scrollTo.js"></script>
<script src="landing/js/jquery.fancybox.pack.js"></script>
<script src="landing/js/owl.js"></script>
<script src="landing/js/wow.js"></script>

<script src="landing/js/script.js"></script>


</body>
</html>