<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta-shareholder">Meta tags</th:block>
</head>
<body>
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	<!-- Main Header-->
	<th:block th:replace="fragments/landing :: main-header">main-header</th:block>

	<!--Main Banner / Banner One-->
	<section class="main-banner banner-one" id="banner" style="background-image:url(/landing/images/background/banner-bg-1.png);">
		<div class="auto-container">
			<div class="row clearfix">
				<!--Text Column-->
				<div class="text-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<h4>AI-assisted workflows for developers and shareholders</h4>
						<h2>Bring your team into a new era of productivity with RelayAI</h2>
						<p>Along with learning the expertise of team members and assigning relevant tasks to the right people, RelayAI takes into account everyone's workload to plan tasks, easily tracks time spent on projects, and simplifies things like: sprint planning, standup meetings, meeting SLA standards, and following up on replies.</p>
						<a href="/login" class="theme-btn btn-style-two">Preview our alpha version <span class="icon ti-arrow-circle-right"></span></a>
					</div>
				</div>

				<!--Image Column-->
				<div class="image-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<figure class="image"><img src="/landing/images/intro.png" alt=""></figure>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--End Main Banner-->

	<th:block th:replace="fragments/landing :: features">features</th:block>

	<!--Pricing Section-->
    <section class="plans-section" id="pricing">
    	<div class="auto-container">

            <div class="row clearfix">
            	<!--Title Column-->
                <div class="title-column col-lg-5 col-md-4 col-sm-12 col-xs-12">
					<div class="inner">
                    	<h2>Simple pricing <br> Amazing features</h2>
                        <div class="text">We offer a no-nonsense SaaS pricing plan. No setup required, we host everything in the cloud.</div>
                    </div>
                </div>

                <!--Plans Column-->
                <div class="plans-col col-lg-7 col-md-8 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	<!--Plan Column-->
                        <div class="plan-column col-md12 col-sm-12 col-xs-12">
                            <div class="inner-box">
                            	<div class="icon"><figure class="image"><img src="/landing/images/icons/piggy-bank.png" alt=""></figure></div>
                                <h3>25$ per user <br /> per month</h3>
                                <div class="text">This includes: <br/>
								<ul>
									<li>Complete access to codebase</li>
									<li>RelayAI full access license, including all features</li>
									<li>Unlimited amount of shareholders</li>
								</ul></div>
                                <a href="#register" class="theme-btn btn-style-seven"><span class="icon ti-arrow-circle-right"></span> Sign up here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<th:block th:replace="fragments/landing :: tech">tech</th:block>

	<!--Contact Section-->
	<section class="contact-section" id="register">
		<div class="auto-container">
			<div class="row clearfix">

				<!--Image Column-->
				<div class="image-column col-md-6 col-sm-12 col-xs-12">
					<div class="inner">
						<figure class="image"><img src="images/resource/featured-image-4.png" alt=""></figure>
					</div>
				</div>

				<!--Form Column-->
				<div class="form-column col-md-6 col-sm-12 col-xs-12">
					<div class="sec-title">
						<h2>Create a RelayAI.io account</h2>
					</div>

					<!--Contact Form-->
					<div id="registration-form" class="default-form contact-form">
						<form>
							<div class="form-group">
								<span>Full name</span>
								<input type="text" name="username" value="" required>
							</div>

							<div class="form-group">
								<span>E-mail address</span>
								<input type="email" name="email" value="" required>
							</div>

							<div class="form-group">
								<span>Password</span>
								<input type="password" name="password" value="" required>
							</div>

							<div class="form-group">
								<span>Confirm password</span>
								<input type="password" name="password2" value="" required>
							</div>

							<input type="email" id="country" name="country" autocomplete="off" />

							<div class="form-group">
								<button id="registration-button" type="button" class="theme-btn btn-style-two">Register <span class="icon ti-arrow-circle-right"></span></button>
							</div>
						</form>
					</div><!--End Contact Form-->
				</div>
			</div>
		</div>
	</section>

	<th:block th:replace="fragments/landing :: footer">footer</th:block>
</div>
<!--End pagewrapper-->

<th:block th:replace="fragments/landing :: scripts">scripts</th:block>

</body>
</html>