<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>RelayAI - Login</title>
</head>
<body id="login-page">
    <div id="login-form">
        <form name="f" th:action="@{/login}" method="post">
                <fieldset>
                    <legend>RelayAI</legend>

                    <p>Debug credentials: </p>
                    <a href="#" id="as-dev" class="login-as">Login as existing developer (focus on daily work)</a>
                    <a href="#" id="as-tld" class="login-as">Login as existing team lead (focus on progress)</a>
                    <a href="#" id="as-shl" class="login-as">Login as existing shareholder (limited view)</a>
                    <a href="#" id="as-new" class="login-as">Login as new project (no data)</a>

                    <div th:if="${param.error}" class="alert alert-error">Invalid username and password.</div>
                    <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
                    <div th:if="${param.activated}" class="alert alert-success">Your account was activated, please log in to continue.</div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username"/>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"/>
                    <input type="email" id="email" name="email" autocomplete="off" />
                    <div class="form-actions">
                        <button type="submit" class="btn">Log in</button>
                    </div>
                </fieldset>
            </form>
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script>
        //debug credentials
        $("#as-dev").click(function(){
            $("#username, #password").val("dev3545648941");
            $(".btn").click();
        });

        $("#as-tld").click(function(){
            $("#username, #password").val("tld123347");
            $(".btn").click();
        });

        $("#as-shl").click(function(){
            $("#username, #password").val("shl4654+95+56");
            $(".btn").click();
        });

        $("#as-new").click(function(){
            $("#username, #password").val("new13245645+6");
            $(".btn").click();
        });
    </script>
        	
</body>
</html>