<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>Tasker - Overview</title>
</head>
<body>
	<article>
			<button type="submit" class="btn">New issue</button>
			
			<br />
	
			<h1>Waiting for feedback</h1>
			
			<p>Issue A</p>
			
			
			<h1>In progress</h1>
			
			<p>Issue A</p>
			
			
			<h1>Completed</h1>
			
			<p>Issue A</p>
		
	</article>
      	<script src="/js/jquery-3.2.1.min.js"></script>
      	<script>
		$(document).ready(function() {

		});
      	</script>        	
</body>
</html>