<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>Tasker - Projects</title>
</head>
<body>
	<nav th:replace="fragments/template :: navigation">Side menu</nav>	
	<article th:replace="fragments/new-project :: content-article">New project</article>
	<article th:replace="fragments/loaders :: content-loader">Saving loader</article>
	
	<div id="overlay" th:fragment="overlay-edits">
		<div id="overlay-detail">
			<p><span></span>: <span class="changing"></span></p>
			<hr/>

			<ul id="overlay-project" class="overlay-options">
				<li th:each="project : ${projects}" th:text="${project.title}" th:data-value="${project.id}">KBI, ETC, ...</li>
			</ul>
						
			<div class="button-group">
				<button id="edit-changer-submit" type="button">Change</button>
				<button type="button" class="altpath">Cancel</button>
			</div>
		</div>
	</div>
			
	<article th:replace="fragments/projects :: main-article">Main content</article>
	
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/simple-scrollbar.min.js"></script>
	<script src="/js/progressbar.min.js"></script>
	<script src="/js/jquery-visibility.min.js"></script>
	<script src="/js/jstorage.min.js"></script>
	
	<script src="/js/taskr-common.js"></script>
	<script src="/js/taskr-navigation.js"></script>
	<script src="/js/taskr-notification-pulling.js"></script>
	<script src="/js/taskr-new-issue.js"></script>
	<script src="/js/taskr-new-project.js"></script>
	<script src="/js/taskr-edit-overlay.js"></script>
	
	<script>
		$(document).ready(function() {
			$("#create-project-submit").click(function () {
				var projectForm = new Object();
				projectForm.title = "title";
				projectForm.description = "description";
				projectForm.project = "project";
				
				hideScreen("#content-new-project");
				$("#loader").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				
				var progressLine = new ProgressBar.Line("#savebar", {
			        color: '#2070f7',
			        duration: 1500,
			        easing: 'easeInOut'
			    });
				
				var isAnimationDone = false;
				var isPOSTDone = false;
				
				progressLine.animate(1, function() {
					isAnimationDone = true;
					if(isPOSTDone && isAnimationDone){
						$("#loader").hide();
			    		$("#content-new-project-main button.altpath").click(); //cancel button functionality	
			    	}
					try {
						progressLine.destroy();
					} catch(err) {
					   //
					}
				});
				
				$.post('/project/new', JSON.stringify(projectForm), function(response) {			
				    if(response.status === "OK"){
				    	isPOSTDone = true;
				    	
				    	if(isPOSTDone && isAnimationDone){
				    		$("#loader").hide();
				    		$("#content-new-project-main button.altpath").click(); //cancel button functionality	
				    	}				    	
				    } else {
				    	//did not validate - so show the form again
				    	$("#loader").hide();
				    	$("#content-new-project").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				    	isAnimationDone = false;
						isPOSTDone = false;
				    }
				}, 'json');
			});
			
			
		});
		
		function getActiveClass() {
			return "";
		} 
		
		function colorCodeChangeables() {return false;}
		
		
	</script>	
</body>
</html>