<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>Tasker - Daily overview</title>
</head>
<body>
	<nav th:replace="fragments/template :: navigation">Side menu</nav>
			
	<article th:replace="fragments/standup :: main-article">Main content</article>
	
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/simple-scrollbar.min.js"></script>
	<script src="/js/progressbar.min.js"></script>
	<script src="/js/jquery-visibility.min.js"></script>
	<script src="/js/jstorage.min.js"></script>
	
	<script src="/js/taskr-common.js"></script>
	<script src="/js/taskr-navigation.js"></script>
	<script src="/js/taskr-notification-pulling.js"></script>
	<script src="/js/taskr-new-issue.js"></script>
	<script src="/js/taskr-edit-overlay.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	

	<script>
		$(document).ready(function() {
			var ctx = document.getElementById('chart').getContext('2d');
			var chart = new Chart(ctx, {
			    type: 'bar',
	
			    data: {
			        labels: ["12 Dec", "13 Dec", "14 Dec", "15 Dec", "16 Dec", "17 Dec", "18 Dec"],
			        datasets: [{
			        	type: 'line',
			        	label: "Overall trend",
			        	fill: false,
			            backgroundColor: "#6b6e80",
			            borderColor: "#6b6e80",
			            data: [10, 9, 8, 5, 4, 2, 1],
			        },
			        {
			        	type: 'bar',
			            label: "Issues done",
			            backgroundColor: "rgb(54, 162, 235)",
			            borderColor: "rgb(54, 162, 235)",
			            data: [0,2,3,5,6,8,9],
			        },
			        {
			        	type: 'bar',
			            label: "Issues left in sprint",
			            backgroundColor: "rgb(255, 99, 132)",
			            borderColor: "rgb(255, 99, 132)",
			            data: [10, 8, 7, 5, 4, 2, 1],
			        }]
			    },
	
			    options: {
			    	maintainAspectRatio: false,
			    	animation : false,
			    	scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
			    }
			});		
		});
	</script>
	
</body>
</html>