<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>Tasker - Tasksboard</title>
</head>
<body>
	<nav th:replace="fragments/template :: navigation">Side menu</nav>
		
	<aside th:replace="fragments/issue :: issue-list">List of issues</aside>
	
	<article th:replace="fragments/issue :: main-article">Main content</article>
	<article th:replace="fragments/new-issue :: content-article">New issue</article>
	<article th:replace="fragments/loaders :: content-loader">Saving loader</article>
	
	<div th:replace="fragments/issue :: overlay-edits">Overlay and editing capability</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var maxid = [[${maxid}]];
	/*]]>*/
	</script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/simple-scrollbar.min.js"></script>
	<script src="/js/progressbar.min.js"></script>
	<script src="/js/jquery-visibility.min.js"></script>
	<script src="/js/jstorage.min.js"></script>
	
	<script src="/js/taskr-common.js"></script>
	<script src="/js/taskr-navigation.js"></script>
	<script src="/js/taskr-notification-pulling.js"></script>
	<script src="/js/taskr-aside.js"></script>
	<script src="/js/taskr-undetermined.js"></script>
	<script src="/js/taskr-new-issue.js"></script>
	<script src="/js/taskr-edit-overlay.js"></script>
</body>
</html>