<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<th:block th:replace="fragments/template :: meta">Meta tags</th:block>
    <title>Tasker - Tasksboard</title>
</head>
<body>
	<nav th:replace="fragments/template :: navigation">Side menu</nav>
		
	<aside th:replace="fragments/issue :: issue-list">List of issues</aside>
	
	<article th:replace="fragments/issue :: main-article">Main content</article>
	<article th:replace="fragments/new-issue :: content-article">New issue</article>
	<article th:replace="fragments/loaders :: content-loader">Saving loader</article>
			
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/simple-scrollbar.min.js"></script>
	<script src="/js/progressbar.min.js"></script>
	
	<script>
		var article = document.querySelector('article');
				
		$("article").each(function() {
			SimpleScrollbar.initEl($(this)[0]);
		});
		
		var aside = document.querySelector('aside');
		SimpleScrollbar.initEl(aside);
		
		
		var token = $("meta[name='_csrf']").attr("content");
	    var header = $("meta[name='_csrf_header']").attr("content");
	    $(document).ajaxSend(function(e, xhr, options) {
	        xhr.setRequestHeader(header, token);
	        xhr.setRequestHeader("Content-Type", "application/json");
	    });
	</script>
	<script>
		var latestClickedIssue = null;		
		
		$(document).ready(function() {
			//tasklist, nav hover on taskboard
			$("aside section, nav a").mouseenter(function(){
				if(!$(this).hasClass("active")){
					$(this).addClass("hover");
				}				
			}).mouseleave(function(){
				$(this).removeClass("hover");
			});

			//task list logic on taskboard
			$("aside section").click(function (){
				var issueId = $(this).attr("issue-id");
				localStorage.setItem("current-issue", issueId);
				
				var sectionId = '#' + $(this).find(".progress").attr("id");
				if(latestClickedIssue !== sectionId){
					$("section svg").remove();
					
					latestClickedIssue = sectionId;
					
					var progressLine = new ProgressBar.Line(sectionId, {
				        color: '#c52864',
				        duration: 1500,
				        easing: 'easeInOut'
				    });
					
					progressLine.animate(1, function() {
						var sectionId = "#"+progressLine._container.id;
						if(latestClickedIssue === sectionId){
							$("aside .active").removeClass("active");
							$(sectionId).parent().addClass("active");						
						}
						
						try {
							progressLine.destroy();
						} catch(err) {
						   //
						}					
					});
					
					window.history.pushState('taskr-currentpage', null, '/tasks/' + issueId);
				}
			});
		
			//create new issue button on taskboard
			$("#new-issue").click(function() {
				$("#main, aside").hide();
				$("#content-new-issue").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				$("#main, aside, #content-new-issue").removeClass("visible").removeClass("invisible");
				$("form input:first").focus();
				window.history.pushState('taskr-currentpage', null, '/tasks/create');
			});
						
			//select active issue from localstorage
			if(localStorage.getItem("current-issue") !== undefined && $("aside section.active").length == 0) {
				$("section[issue-id='"+localStorage.getItem("current-issue")+"']").addClass("active");
			}
			
			//generic form limiter
			$(".length-limiter").each(function() {
				var linkedWithId = "#" + $(this).attr("linked-with");
				var max = parseInt($(this).attr("max-length"));
								
				$(linkedWithId).data("linked", $(this)).keyup(function() {
					var charsLeft = max-$(this).val().length;
					if(0 <= charsLeft){
						$($(this).data("linked")).text(charsLeft);
					}else{
						$(this).val($(this).val().substring(0, max));
						return false;
					}		
				});
			});
			
			//create new issue - submit button
			$("#create-issue-submit").click(function() {
				var issueForm = new Object();
				issueForm.title = "title";
				issueForm.description = "description";
				issueForm.project = "project";
				
				hideScreen("#content-new-issue");
				$("#loader").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				
				var progressLine = new ProgressBar.Line("#savebar", {
			        color: '#c52864',
			        duration: 1500,
			        easing: 'easeInOut'
			    });
				
				progressLine.animate(1, function() {
					try {
						progressLine.destroy();
					} catch(err) {
					   //
					}	
				});
				
				$.post('/issue/new', JSON.stringify(issueForm), function(response) {
					$("#loader").hide();
				    if(response.status === "OK"){
				    	$("#content-new-issue-main button.altpath").click(); //cancel button functionality
				    } else {
				    	//did not validate - so show the form again
				    	$("#content-new-issue").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				    }
				}, 'json');
			});
			
			//create new issue - cancel button
			$("#content-new-issue-main button.altpath").click(function(e) {				
				hideScreen("#content-new-issue");
				$("#main, aside, #content-new-issue").removeClass("visible").removeClass("invisible");
				$("#main, aside").show().css({opacity: '0'}).animate({opacity: '1'}, "fast");
				window.history.pushState('taskr-currentpage', null, '/tasks/' + localStorage.getItem("current-issue"));
			});
			
			//once the back/forward button is popped, actually load the page
			$(window).on("popstate", function () {
				location.reload();
			});
		});
		
		function hideScreen(screenId){
			$(screenId).removeClass("visible").hide();
		}
		
		function showScreen(screenId){
			$(screenId).removeClass("invisible").show();
		}
	</script>
</body>
</html>